[2022-05-07 00:36] ollo69 opened #10 "Credits should be added in read me!"
Hey @Vaskivskyi ,

looks like this integration is fully based on my work in native HA integration and above all on my additional work implemented [here](https://github.com/ollo69/ha_asuswrt_custom).
Of course in open source word you are free to do whatever you want with public code, but is good practice at least mention the source from where your code come from.

Thanks 👍

[2022-05-07 06:32] Vaskivskyi commented on #10
Hi @ollo69,

Please, check PR #12 if this is fine with you

[2022-05-07 07:52] #10 closed

[2022-05-07 14:43] WalkeLee opened #15 "RT-AX86U"
Thank you very much for the program provided, but it didn't work on my RT-AX86U. Hope it fits in, and I'll try to help.
![image](https://user-images.githubusercontent.com/39288935/167259171-38a9c04e-d4cb-4fde-b7d3-42b42d5784ad.png)

[2022-05-07 15:14] Vaskivskyi commented on #15
Hi @WalkeLee ,

First of all, thank you for your feedback! 👍🏻

Could you please provide a bit more information, so I will be able to help you and implement fixes into the integration?

### At which step did something go wrong?

1. Did you install the integration from HACS or manually copied the repository to your Home Assistant folder?
2. Were you able to add your RT-AX86U to HA or did the install

[2022-05-07 16:23] leonidfeldman1977 opened #16 "Not work on RT-AX88U"
Log file:

Logger: homeassistant.config_entries
Source: custom_components/asusrouter/bridge.py:201
Integration: ASUS Router (documentation, issues)
First occurred: 19:15:18 (1 occurrences)
Last logged: 19:15:18

Error setting up entry 10.10.20.2 for asusrouter
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 335, in async_setup
    result = a

[2022-05-07 17:10] Vaskivskyi commented on #16
Hi @leonidfeldman1977 ,

First of all, thank you for your feedback! 👍🏻

Seems like this is a problem with parsing data by the [AsusRouter](https://github.com/Vaskivskyi/asusrouter/) library which is used in this integration. I've opened an issue there https://github.com/Vaskivskyi/asusrouter/issues/20 to keep track of the bugfix.

It could take some time, but the problem will be fixed.

Meanwhile,

[2022-05-07 18:40] leonidfeldman1977 commented on #16
I'm not sure I understand what do you need can you explain step by step

[2022-05-08 03:30] WalkeLee commented on #15
1. I'm install the integration from HACS
2. I cant add my RT-AX86U to HA ，It looks like this
![image](https://user-images.githubusercontent.com/39288935/167280463-5b4b5eda-767d-4e47-8e3b-10fca087261d.png)
![image](https://user-images.githubusercontent.com/39288935/167280495-fad1dd54-cfe5-4a35-82ba-cf02efd248e6.png)

此错误来自自定义集成。

Logger: homeassistant.config_entries
Source: custom_components/asusro

[2022-05-08 07:59] Vaskivskyi commented on #15
It's fine. We've already found the reason - your device has 2.5G WAN/LAN port, which was not yet supported.

Now we need to find out, what exactly value it sends and then I'll prepare a fix in the code.

Can you please log in to the web panel of your device? (like http://192.168.50.1/). After logging in, in the address bar of your browser change the address to http://192.168.50.1/ajax_ethernet_por

[2022-05-08 08:58] WalkeLee commented on #15
get_wan_lan_status = { "portSpeed": { "WAN 0": "G", "LAN 1": "X", "LAN 2": "X", "LAN 3": "G", "LAN 4": "G", "LAN 5": "Q" }, "portCount": { "wanCount": 1, "lanCount": 5 } };

[2022-05-08 11:00] Vaskivskyi commented on #15
I've implemented the needed changes into the library behind this integration.

The problem will be solved with the next release of the integration. It could take a couple of days. I'll let you know

Thanks again for your help! 👍🏻

[2022-05-08 21:59] Vaskivskyi commented on #15
@WalkeLee ,

Please, check if the new version 0.2.0 available now from HACS has solved this problem.

If you are experiencing any other problems, please open a new issue

[2022-05-08 22:06] Vaskivskyi commented on #16
Hey, @leonidfeldman1977 ,

Do you mind checking if the new version 0.2.0 of the integration does work for you?

[2022-05-09 07:24] poudenes opened #28 "Feature request"
Hi,

WONDERFUL integration!!! I love it!!! There are some other integration I also use because not all of them have all the information.
I have a list of (possible) features that maybe can be added in this integration. I think you have to ask the devs to add your integration as default then!!!

I use a **Asus GT-AX11000**

(grab from AsusWRT integration)
- CPU Temperature
- Load avg 1min
- Load av

[2022-05-09 07:38] WalkeLee commented on #15
Problem solved, have a nice day

[2022-05-09 10:10] #15 closed

[2022-05-09 12:44] NormKOALA opened #29 "RT-AC86U"
I have a similar problem as the previous bug reporters

<img width="407" alt="Screenshot 2022-05-09 214118" src="https://user-images.githubusercontent.com/70369365/167411911-ba5a05b0-8895-4c8d-a0d8-de15fbb41b92.png">
<img width="211" alt="Screenshot 2022-05-09 213759" src="https://user-images.githubusercontent.com/70369365/167411643-e5c610fc-ec36-425a-9d7a-0779518c8451.png">
<img width="277" alt="

[2022-05-09 16:22] leonidfeldman1977 commented on #16
Hello,
First off all it work. Thank You
But I don't understand wat is my WAN interface ... ?
![1](https://user-images.githubusercontent.com/81618680/167453966-dbce0c87-2682-467f-a077-e578df6f48f7.jpg)

[2022-05-09 20:13] Vaskivskyi opened #30 "[DEVICES] Not reporting WAN traffic / speed <- add in here, please"
:lady_beetle: Some Asus devices are known to not report WAN traffic. That means also the speed cannot be calculated. I am currently looking in the walk-around to get this data for the full user experience.

In case, you are experiencing this issue, please add your device model and firmware version in the comments.

List of known devices not reporting WAN data:
- RT-AC86U (FW: 3.0.0.4.386_48260) (v

[2022-05-09 20:22] Vaskivskyi commented on #16
Hey @leonidfeldman1977 ,

It seems that some of the devices do not report WAN traffic at all. I am currently looking into this problem. There is a new issue about it https://github.com/Vaskivskyi/ha-asusrouter/issues/30, collecting all the known data, models and firmware versions to find out what exactly is the reason.

As for the Connected Devices sensor, I am not yet sure what could be a reason

[2022-05-09 21:05] Vaskivskyi commented on #28
Hey @poudenes ,

First of all, thanks for your feedback! 👍🏻

There are more sensors planned for the integration soon (including external IP and WAN status binary sensor).

Out of your list:
 - bytes received/sent from UPnP is already in the integration as `{if}_download` / `{if}_upload` for any user selected interface `{if}` (e.g. `WAN`, `LAN` or others). The value of the sensors themself is in GB

[2022-05-09 21:22] Vaskivskyi commented on #29
Hi @NormKOALA ,

Thanks for your feedback! 👍🏻

Seem like one (or more) of the connected devices have some value non-recognizable as a boolean value.

Could you please run this python snippet from your HA venv or any other environment with [AsusRouter](https://github.com/Vaskivskyi/asusrouter) library already installed? Just put the code to some local `script.py` (without forgetting to put in your

[2022-05-10 04:02] NormKOALA commented on #29
Thank you for answer.
Maybe I'm doing something wrong but it doesn't work.

<img width="960" alt="Screenshot 2022-05-10 125553" src="https://user-images.githubusercontent.com/70369365/167540031-b8504637-8e27-4b39-94e6-77681f6ef00a.png">

[2022-05-10 05:38] poudenes commented on #28
True, and agree. It's not urgent. It was just a list of options.. :)

Hope you will add the rest haha!

[2022-05-10 05:53] Vaskivskyi commented on #29
No worries, that is probably my fault. It says that just cannot connect. One of the reasons could be that your router has a self-signed SSL certificate.

You can try changing to `_use_ssl = False` instead of `True` to connect without SSL.

Or, if your device doesn't have a non-SSL connection or uses a non-standard port, this is something to help. There are 2 new parameters: `_cert_check = False` a

[2022-05-10 06:37] NormKOALA commented on #29
With `_use_ssl = False` I got the following result

[code]

[2022-05-10 07:05] Vaskivskyi commented on #29
A bit weird. Seems like values are fine. But I suppose, integration still doesn't want to set up in HA

Those 3 values from each device are the only ones for which method `bool_from_any` is called. And it is the one causing the exception in your log. It does literally say it got value `time` and tried to parse it as boolean.

I'll do some tests with the code and will let you know a bit later, what

[2022-05-10 13:08] r3wt opened #32 "ASUS RT-AX89X failed to setup"
Same as other users here, it says "failed to setup", and then from the logs i can see the cause

**Trace:**

[code]

[2022-05-10 16:18] Vaskivskyi commented on #32
Hi @r3wt ,

Thanks for your feedback! 👍🏻

Apparently, your router is reporting connected devices RX and TX speeds differently than others.

Could you please run this python snippet from your HA venv or any other environment with [AsusRouter](https://github.com/Vaskivskyi/asusrouter) library already installed? Just put the code to some local `script.py` (without forgetting to put in your values for

[2022-05-10 19:58] n00bster-za opened #35 "See connected devices names?"
Is there a way to see the name and mac address of the connected devices.

[2022-05-10 20:19] Vaskivskyi commented on #29
Hey, @NormKOALA ,

With the new 0.2.2 version, it is now possible to have partially parsed devices, so the problem you are experiencing won't be on the way to the integration set-up. But it will be generating warnings in the log with some additional info on which exactly values are wrong and what they report. So it would be easier to find the complete fix to this issue.

Could you try it?

[2022-05-10 20:20] Vaskivskyi commented on #32
Hey, @r3wt ,

With the new 0.2.2 version, it is now possible to have partially parsed devices, so the problem you are experiencing won't be on the way to the integration set-up. But it will be generating warnings in the log with some additional info on which exactly values are wrong and what they report. So it would be easier to find the complete fix to this issue.

Could you try it?

[2022-05-10 20:32] Vaskivskyi commented on #35
Hi, @n00bster-za ,

For each connected device an entity `device_tracker.{some_name}` is generated. It has attributes `mac` and `host_name` (for the device name). Of course, `device_tracker` entity has to be enabled to access this data.

You can access them e.g. from templates. For the example from the image below, it would look like this:

[code]

![device_tracker](https://user-images.githubuserco

[2022-05-11 03:39] NormKOALA commented on #29
Yes, now it works. Thank you!

Do you mean adding a lot of device trackers?
<img width="204" alt="Screenshot 2022-05-11 120212" src="https://user-images.githubusercontent.com/70369365/167763626-8163b3d4-bf8c-4090-b790-374b347e6cb5.png">
Yes, it's a little inconvenient. Since I don't need to know if my remote control is at home 🤣
<img width="245" alt="Screenshot 2022-05-11 120406" src="https://user

[2022-05-11 04:18] Ekim0789 commented on #32
Hello,

Not OP but on 0.2.2 I get the same issue as OP on my RT-ACRH13

Trace:

[code]

[2022-05-11 04:26] Ekim0789 commented on #32
Output of provided script

`/config/shell # python3 asus.py
RX: ; TX:
RX: ; TX:
RX: ; TX:
RX: 52M; TX: 43M
RX: 117M; TX: 325M
RX: 13M; TX: 135M
RX: 39M; TX: 130M
RX: 39M; TX: 39M
RX: 72M; TX: 86M
RX: 13M; TX: 45M
RX: 175M; TX: 390M
RX: 81M; TX: 180M
RX: 780M; TX: 866M
RX: 130M; TX: 468M
RX: 6M; TX: 390M
RX: 526M; TX: 866M
RX: 780M; TX: 866M
RX: 6M; TX: 585M
RX: 6M; TX: 26M
RX: 175M; TX: 390M
RX: 6

[2022-05-11 04:29] NormKOALA commented on #29
I apologize for the intrusiveness, but the Download/Upload speed sensors for wlan1 are swapped)))
<img width="1643" alt="Screenshot 2022-05-11 132014" src="https://user-images.githubusercontent.com/70369365/167769091-2025f47f-ad55-43c0-9b26-3c4373b5dae5.png">
<img width="863" alt="Screenshot 2022-05-11 132237" src="https://user-images.githubusercontent.com/70369365/167769100-f0925944-b7f4-4359-8d6

[2022-05-11 05:18] Vaskivskyi commented on #32
Hi, @Ekim0789 ,

Thanks for the information! 👍🏻

Apparently, your devices are reporting speeds with "M" stated for "mega". Others do it silently, just providing numbers.

I'll implement the needed changes either today in the evening (CET), or in the nearest days

[2022-05-11 06:01] Vaskivskyi commented on #29
Lots of device trackers is the expected behaviour for HA. The standard approach is to add all the connected devices and HA is either enabling entities for them or keeps them disabled depending on if it knows this device (e.g. if it was added to the database by some other integration then device_trarcker is merged to it). I can think of a possibility to have a filter by name/mac of what devices to

[2022-05-11 22:13] Vaskivskyi commented on #30
An RT-AX88U (FW: 3.0.0.4.386_48631) does NOT show such a problem. Could it be related to the AiMesh? The one with the problems in the original issue was using it. This one does not 🤔

[2022-05-11 22:19] Vaskivskyi commented on #16
I've got an RT-AX88U, that does not have any problems with the WAN data - it just reports as usual and as I had on the much older router. So still don't have any idea, why that could happen with some of the routers.

Maybe it could be somehow connected to the AiMesh? Unfortunately, this is something I cannot try since the older device does not support this feature.

As for the discrepancy in the n

[2022-05-11 22:27] Vaskivskyi commented on #32
@r3wt , @Ekim0789 ,

Could you try version 0.2.3 and check if this issue is solved?

[2022-05-11 22:41] Ekim0789 commented on #32
@Vaskivskyi,

Version 0.2.3 confirmed working on my RT-ACRH13, thanks!

[2022-05-12 01:09] r3wt commented on #32
Yevhenii, thank you for your help. Unfortunately asus is notorious for inconsistency across devices. I tried your changes for 0.22 but it still fails. Tomorrow I will try to debug it, and if you havent already fixed i may try my hand at opening a PR. I am not new to python but struggling to understand the HA system. any pointers would be helpful, and I thank you sincerely for providing this packag

[2022-05-12 01:15] r3wt commented on #32
@Vaskivskyi  I am pleased to report that 0.2.3 is working for me on RT-AX89X as well! Thank you @Vaskivskyi !!!

[2022-05-12 01:18] #32 closed

[2022-05-14 07:09] Vaskivskyi commented on #35
Hello, @n00bster-za,

Is this what you were looking for? In this case, I will close the issue. If you experience any problems with device trackers `host_name` and `mac` attributes, please reopen this issue. If you have any other problems with the integration - you are welcome to open a new one

Have a nice time! 🙂

[2022-05-14 07:09] #35 closed

[2022-05-14 07:40] Vaskivskyi opened #40 "[Test with your device] AiMesh support"
Apparently, AiMesh connected devices (when at least 2 are used together) have some peculiarities in the reported data (e.g. reported traffic #30 and number of connected devices, so device_trackers, https://github.com/Vaskivskyi/ha-asusrouter/issues/16#issuecomment-1121311921).

Unfortunately, I have only one device supporting AiMesh, so no tests can be held by me until I get another one.

Looking

[2022-05-14 12:39] jazzyisj opened #42 "RT-AX58U - Unknown Error on Setup"
Unable to set up an RT-AX58U.

This is all I get in the log - even with debug enabled.

[code]

![image](https://user-images.githubusercontent.com/44064559/168426091-3075bb9e-2a16-4671-9a5b-50d251f0a21b.png)

[2022-05-14 16:41] Vaskivskyi commented on #42
Hi, @jazzyisj,

Thanks for your feedback 👍🏻

You can enable debug logging for both the integration and the library for communication with the router. In your `configuration.yaml` for HA it should look like this:

[code]

This will produce lots of everything in the log but could help find the problem. Unfortunately,

Please, let me know what you will find.

[2022-05-14 17:42] robertoleonardo commented on #40
I'm happy to help -- i have two AX (XT8) routers (firmware:  3.0.0.4.386_48706-g5f8f479) BUT the integration doesn't seem to be working in the first place.  If i enter the correct information, it takes me past the config page but then i get a "failed to set up"  error on the integration landing page.  once that is sorted out -- happy to help.

[2022-05-14 17:48] robertoleonardo commented on #16
i assume this is the same issue i mentioned in the other thread that i'm having.  so, on my AX XT8 - i'm getting the following:

34:09:28

34:09:21
03:04:51
00:44:59
34:09:22

12:34:18

34:08:53
25:03:35
34:09:26
34:09:28
25:11:16

27:35:30
34:09:27
34:09:25
34:09:26

34:09:22
34:09:21

34:09:21
34:09:13
34:09:25
00:38:40
34:09:22
32:09:51
34:09:23
08:32:46
34:09:20
34:09:22
24:53:40
03:33:59
34:0

[2022-05-14 18:03] Vaskivskyi commented on #40
Hi, @robertoleonardo. Could you please open a new issue and post errors/warnings from the HA log for the integration. If integration has shown "failed to set up", there should be something from `custom_components.asusrouter`.

Let's solve it and then can try testing AiMesh 🙂

[2022-05-14 18:13] Vaskivskyi commented on #16
@robertoleonardo,

Yes, it crashed on the last element in the array, since that is not a real device, but some other thing. I've edited the code, so it won't crash if someone tries it again.

In any case, did you get the same

[code]

in your log? This method was fixed earlier and there is no such line in the code of the current version. For any other exceptions or errors, other data should be che

[2022-05-14 18:14] robertoleonardo commented on #16
yea sorry - shouldn't have assumed it was the same issue.  i'll respond to your other comment - but i actually just got it working. i'm up and running now.

[2022-05-14 18:15] robertoleonardo commented on #40
@Vaskivskyi figured it out! i had been unchecking 'enable device monitoring' because i didn't want 100 new devices added -- that was making it throw the error.  i've got the integration up and running now.  i've got to do some work today but just let me know how i can help with testing and i'll tinker in the next couple of days.

[2022-05-14 18:31] Vaskivskyi commented on #40
Great!

1. The first part would be observation. I would need to know first if:
a. you have WAN traffic and speed sensors available and working
b. the `Connected Devices` sensor shows the same number of users as the Asus web panel. This could change with time. Apparently, the sensor in the integration can show more than the web panel. I am curious if this difference is changing over time

[2022-05-14 20:11] jazzyisj commented on #42
Config attempt using port 22000 (configured ssh port on router)
[code]
Config attempt using default port.
[code]
Config attempt default port w/SSL no verify
[code]
Config attempt port 22000 w/SSL no verify
[code]

[2022-05-15 08:57] Vaskivskyi commented on #42
The integration uses HTTP(S) API of AsusRouters, so that would explain why you got `400, message='Expected HTTP/'` - that was not a valid HTTP response, since the port is SSH. The same goes for the attempt (log 4) to connect with SSL.

Let's try to collect some more data. Do you mind entering your router web panel from the browser and checking what are the settings in `Administration - System - Lo

[2022-05-15 19:26] Vaskivskyi commented on #16
Hey, @leonidfeldman1977 ,

Can you check if with the new version 0.2.4 sensor `Connected devices` shows the same as the web panel?

[2022-05-15 21:13] robertoleonardo commented on #40
looks like both things are working! 47 connected devices is right. though, not sure what that small download number is for wan2 - i don't have dual wan set up
![50E283B9-62D0-4267-BF80-9B79B180D2AA](https://user-images.githubusercontent.com/13153043/168494044-11300cd6-4979-47cc-852e-36587ae5d6d9.png)

[2022-05-15 21:59] Vaskivskyi commented on #40
WLANs are different WiFi network interfaces. `0` stands for 2.4 GHz WiFi, `1` and `2` for different 5 GHz WiFi interfaces. Probably, most of your devices are connected to `1`, that is why `2` is not too active.

What I am looking for is the `WAN` interface, which would be traffic with the outer world (so, e.g. your internet provider). You can check if it is at all visible by clicking the `Configur

[2022-05-15 23:07] robertoleonardo commented on #40
ya sorry i'm dumb i realized that after i posted. here you go. that wan download number might be right even though it's low - i just reinstalled the integration an hour or two ago when i was tinkering.
![05215EE4-5CE3-433E-8258-F5091B72C0D5](https://user-images.githubusercontent.com/13153043/168497847-f4f772ff-9688-464c-9fe1-36da1e389ba4.png)

[2022-05-16 16:03] leonidfeldman1977 commented on #16
Hi, After last update sensor change the value .. BUT sensor is show always the value + 2 :)
![Screenshot 2022-05-16 185452](https://user-images.githubusercontent.com/81618680/168635676-c0d819ae-bf1e-45b1-a2c3-f8d3e4d5ba41.jpg)

[2022-05-16 20:59] Vaskivskyi commented on #16
That is something I am trying to figure out. Other devices were my mistake in the code of the integration. But this seems to be connected to the AiMesh (you have 2 nodes, as far as it was shown in out of comments (https://github.com/Vaskivskyi/ha-asusrouter/issues/16#issuecomment-1121311921). That would explain the +2 in the `Connected devices` sensor.

I will continue digging

[2022-05-16 21:05] Vaskivskyi commented on #40
I suppose, when you saw those 47, the web panel was showing it the same way? What does the `AiMesh Node` value in the web panel show to you? Is it 1?

![Screenshot 2022-05-16 230046](https://user-images.githubusercontent.com/6554415/168682059-c0b141b1-16c5-41ec-a91c-a20b6e39c3e7.png)

Also, the traffic values reported in sensors `{}_download` and `{}_upload` do not depend on the integration. Only

[2022-05-16 22:04] Valdorama opened #47 "Difference between this and the built-in ASUSWRT integration"
I recently came across this HA integration. I currently use the built-in ASUSWRT integration, and I'm wondering what the difference is between that integration and this one? Thanks.

[2022-05-16 23:20] robertoleonardo commented on #40
oh, i didnt realize you were looking for exact exact. i believe when i saw 47 in the integration the asus app told me 48. in my book, a difference of 1 is still accurate. the asus app / web interface are so slow and buggy i assume there's just some slight delay in reporting. because when it says i have 48 devices, inevitably it'll drop down a few or go up a few just from devices going to sleep and

[2022-05-17 05:55] Vaskivskyi commented on #47
Hello, @Valdorama,

Thanks for your interest! 👍🏻

The first difference is the way of communication with the device. This integration uses the native Asus HTTP(S) API - the same way web panel or mobile app can communicate with routers. In-built ASUSWRT uses either SSH or telnet connection. This leads to all other differences in the available data.

## Both integrations can:
- create `device_tracker

[2022-05-17 06:02] Vaskivskyi commented on #40
Ok, I see 👍🏻

I'll prepare some code for more tests to collect data directly from the device. It could take a couple of days

[2022-05-17 14:01] Valdorama commented on #47
Thank you for the very detailed reply. This project looks very interesting so I'm going to keep an eye on it and deploy it at some point. Looking forward to the reliable traffic stats (the ASUSWRT data has always been a bit suspect) and the device control (just last week I managed to add switches to HA to block/unblock devices via ssh).

[2022-05-18 09:35] fookyuanloh commented on #28
Im using the following shell script to get the temp.

cat /proc/dmu/temperature = command to get cpu temp
wl -i eth1 phy_tempsense = radio 1 (2.4GHz) temp (divide by 2, then add 20)
wl -i eth2 phy_tempsense =  radio 2 (5.0GHz) temp (divide by 2, then add 20)

Would be great if this can be integrated into the next upcoming release

![image](https://user-images.githubusercontent.com/79247061/1690082

[2022-05-18 09:55] rkkoszewski opened #48 "New devices are not being added to Home Assistant"
New devices are not being added to Home Assistant and there seems to be no clear way of how to achieve this.

Based on the README I understand that new Devices are **not** created unless another integration creates it. Why is this? Is this a deliberate decision? Is there some manual workaround that could be used currently to make this work?

Also, if this is a deliberate decision, I'm aware that t

[2022-05-18 10:26] peetereczek commented on #28
Hello,

I'm not sure whether it's valid, is CPU monitoring still in development, but sensors for RAM / CPU usage are unavaliable for my router RT-AX56U (with Merlin firmware)

![image](https://user-images.githubusercontent.com/42431204/169018123-850292c7-55f5-4000-8f8b-9cd771e1a71b.png)

[2022-05-18 10:34] rkkoszewski opened #49 "[Bug] Tracked devices only update from Offline to Online (NotHome to Home), but not viceversa"
Seems like the tracked devices only update from Offline to Online (NotHome to Home) but not viceversa and shows as Online (Home) even when the device is disconnected. The only way to fix it is to restart Home Assistant. Then it shows the device as Offline, but once it changes back to Online, it's stuck at Online forever.

[2022-05-19 05:43] Vaskivskyi commented on #47
Hello, @rkkoszewski

There is no defined roadmap for the integration. At least, not yet.

Out of what I am planning soon, I can list:
- Sensor for external IP (can be helpful for those with dynamic IPs to perform some automation)
- Sensor for external MAC
- Binary sensor (or switch) of WAN status (connected/disconnected)
- Binary sensors (or switches) for WLANs
- Light entity for LEDs on supported

[2022-05-19 05:48] Vaskivskyi commented on #28
Hello, @fookyuanloh,

Thanks for your info :+1:

This is similar to what the aioasuswrt library is doing (the one behind the core asuswrt integration). Unfortunately, there is no possibility to run shell scripts when connecting to the device via API. I am checking if this data can be obtained any other way

[2022-05-19 06:02] elRadix commented on #47
here is the list if switches/services with their status which I would like to have in your component

https://github.com/jackyaz/scMerlin

[2022-05-19 06:02] Vaskivskyi commented on #48
Hey, @rkkoszewski,

The behaviour currently is the following. The integration creates `device_trackers` entities automatically, but does not create a HA device for each `device_tracker`. The entities are in the disabled state unless HA knows the device from another integration. If a HA device exists, `device_tracker` is added to it in the enabled state.

Do you suggest creating a HA device for eac

[2022-05-19 06:03] Vaskivskyi commented on #49
Hey, @rkkoszewski,

Thanks for your bug report! :+1:

I will look into this problem as soon as I get a bit of free time (most probably till the end of the week)

[2022-05-19 06:06] Vaskivskyi commented on #47
Hello, @elRadix,

Thanks for your feedback! :+1:

I will check it out

[2022-05-19 07:29] rkkoszewski commented on #48
Oww, I didn't notice that the entities are still added but without the device (Those entities are disabled by default, and can be enabled, which is the way to enable tracking for those devices). From what I was able to find out that is the "Official" way of how Home Assistant should handle these situations as of 2022 (Source: [Home Assistant: Improved handling of device tracker entities](https://w

[2022-05-19 21:07] bkuri opened #50 ""Config flow could not be loaded: undefined" error upon attempting to add integration"
The logs show only this:

[code]

FYI I am running [home-assistant-snap](https://github.com/home-assistant-snap/home-assistant-snap) and an AC-86U router in case that makes a difference.

[2022-05-20 06:06] Vaskivskyi commented on #50
Hello, @bkuri,

Thanks for your feedback 👍🏻

I am afraid, this issue should be addressed to the [home-assistant-snap](https://github.com/home-assistant-snap/home-assistant-snap/issues) since the log does only say "unable to install" of the library behind the integration (which is freely available to anyone with Python 3.9+ via [PyPI](https://pypi.org/project/asusrouter/)).

Installation of the req

[2022-05-20 10:17] leonidfeldman1977 commented on #30
Hi, for me not work on FW: 3.0.0.4.386_48631
![Screenshot 2022-05-20 131550](https://user-images.githubusercontent.com/81618680/169507536-e26ba57a-048f-49c4-a8b3-84c0a1b234ef.jpg)

[2022-05-23 20:27] Vaskivskyi commented on #49
I am sorry for the delay with this fix. There is a large release in work and it requires a bit more time. But, of course, it will include a fix for this bug as well as many new features

[2022-05-23 22:47] bladecoates commented on #40
I have two RT-AX92U that are using mesh. They appear to be working. I'm happy to test anything. The"ASUSWRT" and UPNP integrations leave a lot to be desired.

I'm currently working on setting up a dashboard for it.

[2022-05-23 22:51] bladecoates commented on #40
![D1BF0E3C-03E7-47A8-9354-FAEAFB0A629C](https://user-images.githubusercontent.com/4097682/169916954-cbe01823-81d9-4a9c-8c03-a01e72e914b0.png)

Integration is showing 57 devices. I have ever entity enabled except for the device_trackers.

Just @ me if there is anything specific you want tested.

[2022-05-27 13:00] boheme61 commented on #47
Looks "promising" , will check out your great work, as both "ASUSWRT" and "UPnP/IGD" seems like "neglected" Integrations, in terms of what New Routers is capable of.

[2022-05-27 21:00] Vaskivskyi opened #73 "[Translation] Missing pt-BR translation"
Hey, @LeandroIssa,

You have helped with pt-BR translations for the integration. Maybe you can help once more?

The current version of EN strings (https://github.com/Vaskivskyi/ha-asusrouter/blob/main/custom_components/asusrouter/translations/en.json) has all the values which would be needed for the next big release coming this weekend

[2022-05-27 22:39] LeandroIssa commented on #73
I made a new translation with everything new!
I'm always available for whatever you need!

[2022-05-28 05:57] Vaskivskyi commented on #73
Thanks!

[2022-05-28 05:59] #73 closed

[2022-05-28 17:17] Vaskivskyi commented on #49
Hey, @rkkoszewski,

Mind checking the new 0.3.0 version? Now device tracking should be fixed. Moreover, now you can control `consider home` time for the devices.

If you are experiencing any other issues with the integration, please, open a new issue, so it will be easier to track.

[2022-05-28 17:24] Vaskivskyi commented on #47
Hello, @boheme61,

Thank you for your feedback! 👍🏻

The external IP sensor is already implemented in the new version 0.3.0 (as a `wan_ip` entity, not enabled by default, so needs to be enabled manually if you need it).

The uptime sensor is available already as the `boottime`. Since it contains a timestamp of the last router reboot, it has all the needed information (e.g. you can easily calculate

[2022-05-28 17:27] Vaskivskyi commented on #28
@poudenes,

Version 0.3.0 implements `wan_ip` sensor and `wan` binary sensor for status

[2022-05-28 17:40] rkkoszewski commented on #49
Awesome!! It works perfectly now! Thanks!
Closing bug.

[2022-05-28 17:40] #49 closed

[2022-05-28 17:49] Vaskivskyi commented on #50
Hey,

Since the issue is not connected to the integration directly, I will close it for now.

If you will find a way to fix this behaviour of the installation on snaps, please reopen the issue or open a new one. Maybe we can then add this info to the readme for other users to use.

[2022-05-28 17:59] poudenes commented on #28
You informed me and 10 min later I got a notification on my watch that there is a HACS update :)

[2022-05-28 18:16] Vaskivskyi commented on #48
Hey,

You have reopened this issue. I would need some more info to be able to help you. Did anything change with new devices adding after the last version release?

[2022-05-28 18:18] rkkoszewski commented on #48
I'd like to reopen this issue to further discuss if there is no better approach to create "Devices" in Home Assistant. Currently the Home/NoHome tracking is added to an existing "Device" if it exists from another integration, but no new "Devices" are ever created by "ha-asusrouter". All other trackers can be found and enabled from the "Entities" section and be used there to track devices as "Entit

[2022-05-28 18:43] Vaskivskyi commented on #48
I would agree with the TLDR. In general, I don't like entities which are not part of any device or service

Unfortunately, this is something, that should be implemented on the HA core side. But yes, I would prefer to get new devices, instead of just entities.

[2022-05-28 18:59] rkkoszewski commented on #48
Oww, I thought that it's the integration that creates the devices. So it's not possible to create "Devices" from an integration? It is created by Home Assistant?

[2022-05-28 19:05] Vaskivskyi commented on #48
Integration can easily create devices for every device tracked. I am not sure, how to handle the creation of the devices only when `device_tracker` entities are enabled.

But I'll look into the question. Maybe, it can be done

[2022-05-28 22:52] addelovein opened #82 "LED RGB Aurora"
![50CDDD4E-9498-4A2B-9D2C-6091D1C377E0](https://user-images.githubusercontent.com/24968297/170845167-0c9732f3-e455-4992-b4a0-c145cf141d68.png)
![C58B58A4-C888-4202-AFA2-38CF7AF03C9C](https://user-images.githubusercontent.com/24968297/170845171-54c6050b-6163-4aa1-9b24-2687f78e3602.png)
Would love to be able to Add some of the RBG features.  As is now it always resets to Blue Breathing.
But would lo

[2022-05-29 00:57] ostracizado opened #83 "Device tracker doesn't change status"
Core: 2022.5.5
Supervisor: 2022.05.3
Router: Asus RT-AC86U

It happens with all entities as device_tracker.

Here's an exemple with a phone, using Nmap & Asus router integration:

Nmap:
![alt text](https://i.ibb.co/vXMDtk1/device-tracker-nmap.png)

Asus router integration:
![alt text](https://i.ibb.co/FXP9xjC/device-tracker-asus.png)

[2022-05-29 05:52] Vaskivskyi commented on #82
Hello, @addelovein,

Thanks for your feedback! 👍🏻

I was thinking about Aura support, but my device does not have it, so I cannot do any testing directly. In principle, we just need to find out, which commands should be sent for setting and getting the states.

Can Aura be controlled via web panel as well or only through the mobile app?

[2022-05-29 05:57] Vaskivskyi commented on #83
Hello, @ostracizado,

Thanks for your feedback! 👍🏻

Could you please try the new version 0.3.0 of the integration released yesterday (the update should be available in HACS)? Device trackers were improved there. Also now you can select `consider home` time to define how fast devices go offline after they were last seen

[2022-05-29 07:07] addelovein commented on #82
Via web aswell.
i Will check what commands it sends.   Right now I can’t help much more due to no access to computer.  But I can do some Charles proxy on my phone.  I’ll get back to you.

[2022-05-29 07:11] Vaskivskyi commented on #30
Hey, @leonidfeldman1977,

Can you please enter the web panel of your device and go to the `Traffic analyzer -> Traffic monitor` (as on the snapshot 1).

Then you would need to open Developer Tools in your browser (F12 on keyboard), there tab `Network` and find one of the requests to `update.cgi` (as on the snapshot 2).

I would need the response for one of such requests. It includes something simi

[2022-05-29 07:24] Vaskivskyi commented on #82
In principle, it doesn't really matter. The phone is also fine if you are comfortable with package capturing.

In principle, we need the method to determine that the device has the Aura (probably some key in NVRAM). E.g. for LED support, it is a request `nvram_get(led_val)` to the `appGet.cgi` endpoint (it would be either boolean status or nothing if the feature is not supported). I would expect s

[2022-05-29 09:23] pepe59 opened #85 "Router RT-AC68U error"
Thank you in advance for a great component.
I have no idea if I have something wrong or it's a mistake.
Everything works fine, but there is an error in the HA log.
Asus RT-AC68U + AiMesh Router Asus RT-AC66U B1
HA all updated to the latest version.

[code]

[2022-05-29 09:31] Vaskivskyi commented on #85
Hey, @pepe59,

Thanks for your feedback! 👍🏻

This seems to be a problem with the library behind the integration. I'll make the needed corrections and let you know. Should not take too much time

[2022-05-29 10:12] Vaskivskyi commented on #85
@pepe59,

The new release 0.3.1 of the integration should fix this error. If you don't see the update yet in your HACS, you may restart the HACS service (or all the HomeAssistant), so the database will update and show the update for AsusRouter integration.

If you will experience any other problems with the integration, please open a new issue, so it will be easier to track.

[2022-05-29 10:21] addelovein commented on #82
Sorry for for my presentation.  Doing it on phone.

Ledg_scheme
2 static. RGB
3 breathing RGB
6 wave
7 marquee RGB
1 gradient RGB
4 evolution
5 rainbow

set_ledg.cgi?ledg_scheme=X&ledg_rgb=X,X,X, X,X,X, X,X,X

Led_RGB
RGB Values three times since it has three led lights
Example all red
128,0,0,128,0,0,128,0,0

Full example Static all red

set_ledg.cgi?ledg_scheme=2&ledg_rgb= 128,0,0,128,0,0,128,0,

[2022-05-29 11:01] Vaskivskyi commented on #82
Seem to be not too complicated. But some more things would be needed:
- Does this hook return any value? To know whether the command was successful.
- Also, we would need some method to get the status of the RGB. Otherwise, we won't be able to set the state in HA until we send the first command. I'm quite sure, the mobile app should ask it from the device when you open the RGB control tab in it.
-

[2022-05-29 11:05] addebc commented on #82
You have a messeger app any one for easier communication

[2022-05-29 11:15] addebc commented on #82
http://192.168.50.1/set_ledg.cgi?ledg_scheme=2&ledg_rgb=128,0,0,128,0,0,128,0,0,128,0,0
That makes all leds red

http://192.168.50.1/set_ledg.cgi?ledg_scheme=2&ledg_rgb=128,0,0,128,0,0,128,0,0,0,0,128
And that all red except the outer leds are blue

So basically it contains of 4 LEDS which are set in the values up to 128

page returns {"statusCode":"200"}

http://192.168.50.1/appGet.cgi?hook=nvram

[2022-05-29 11:16] addebc commented on #82
RT-AX82U

[2022-05-29 11:21] Vaskivskyi commented on #82
Telegram:
https://t.me/Vaskivskyi

[2022-05-29 13:19] pepe59 commented on #85
I really appreciate your approach.
After updating the components everything works perfectly.
The error is cleared. I think we can close the issue and add a router Asus RT-AC68U + AiMesh Asus RT-AC66U B1 to the supported.
Thank you

[2022-05-29 13:27] Vaskivskyi commented on #85
Great! In case, something else will be causing any trouble, just open a new issue. Have a nice day! 🙂

[2022-05-29 13:27] #85 closed

[2022-05-29 15:58] Vaskivskyi commented on #29
Hey, @NormKOALA,

Do you still get warnings in your log from the integration on the latest versions 0.3.0 or 0.3.1?

[2022-05-31 17:56] Vaskivskyi commented on #50
Of course, I may take a look, but cannot promise anything. Also, I will first need to find out how exactly snaps work (never used them before).

The integration does not specify where or how to install, because it doesn't even know anything except how to call Home Assistant features.

Cannot guarantee any timeframe, unfortunately. But I will let you know if I find a solution.

[2022-05-31 19:39] bkuri commented on #50
@Vaskivskyi thanks! Let me know if there's anything I can do to help

[2022-06-03 09:41] boheme61 commented on #47
Good point, never gave that a thought, not that my DB will suffer in regards to Size, thou i do try to minimize any usage i can, And I/O every 30seconds or 1min in this case is as you say "Redundant" , It's more relevant from the "Tracker" , which is the one i use the most

[2022-06-03 16:13] Vaskivskyi commented on #28
Coming soon to AsusRouter (but highly depends on the device and firmware):

![image](https://user-images.githubusercontent.com/6554415/171903897-3a0d39f0-007f-4376-9392-00e584c25e20.png)
RT-AC66U (Merlin, v380.70)

![image](https://user-images.githubusercontent.com/6554415/171903991-02f8c083-c80f-499d-ae7c-b5b9163d17be.png)
RT-AX88U (stock, v386_48631)

[2022-06-04 11:42] Vaskivskyi commented on #28
Hey, @poudenes,

Do you use stock AsusWRT firmware or Merlin on your device?

[2022-06-04 12:46] poudenes commented on #28
I use the stock on my gt-ax11000

[2022-06-04 13:07] Vaskivskyi commented on #28
Just curious.

Merlin adds some new features. Not all of them are useful for everyone, so depends on your use cases. Also, as far as I know, AiMesh support is not as good as on stock.

With the next integration update, Merlin will get full support and some sensors, which are not yet available for the stock firmware.

![image](https://user-images.githubusercontent.com/6554415/172000097-9310ed13-ac3

[2022-06-05 11:03] Vaskivskyi commented on #28
Hi, @poudenes, @fookyuanloh,

With the freshly released [0.4.0](https://github.com/Vaskivskyi/ha-asusrouter/releases/tag/0.4.0), support for the temperature sensors is added. Maybe you can check it out?

Also, those with Merlin firmware will get access to the `load_average` sensors. Unfortunately, I haven't found a way to implement them on the stock firmware yet,

[2022-06-05 11:07] poudenes commented on #28
I will update and let's see :)

The load average is also in AsusWRT integration and worked for the stock. Maybe you can check that integration how they did it.

[2022-06-05 11:16] poudenes commented on #28
Temperature is working!

[2022-06-05 11:19] Vaskivskyi commented on #28
AsusWRT uses SSH or Telnet connection and can directly run any shell scripts. That could be a pro or a con, depending on the device. E.g. for some devices, it doesn't provide adequate traffic data. Or some sensors might be blank. The same is for the Merlin support and so on.

On the other hand, this integration is limited to what is provided by the HTTP API. This gives compatibility with almost an

[2022-06-05 11:33] Oligarch opened #109 "[Device support]"
### The problem

Wrong model name: RT-AX58U_IPA

### Your device model

RT-AX82u

### Firmware type

Stock

### Firmware version

3.0.0.4.386_48664-g7ded0a1

### Does everything work well?

Yes

[2022-06-05 11:44] elRadix opened #111 "[Device support] Netgear R7000"
### The problem

Everything is working great so far.
![SmartSelect_20220605-134411_Chrome](https://user-images.githubusercontent.com/6258894/172048887-22240cfa-8d08-407a-944b-381e1f3f36f2.jpg)

### Your device model

Netgear R7000

### Firmware type

Merlin

### Firmware version

3.0.0.4.386.2_4

### Does everything work well?

Yes

[2022-06-05 11:48] Vaskivskyi commented on #109
Hello, @Oligarch,

Thank you for your feedback! 👍🏻

Does the integration recognise your RT-AX82U as RT-AX58U_IPA? Or do you mean, that you firstly accidentally put RT-AX82U, but wanted to put RT-AX58U?

Just because you have edited your issue, I am not sure now 🙂

[2022-06-05 11:49] poudenes commented on #28
To keep the integration most compatible then stay at the api. It's not a big thing to have the load Average :) when there is no network then maybe the router is down haha :)

[2022-06-05 11:54] Oligarch commented on #109
Recognise my RT-AX82U as RT-AX58U_IPA. But everything works great

[2022-06-05 12:05] Vaskivskyi commented on #109
I see. Seems like this is a common 'feature' of this model since I have one more report for the same matter. But that was on the Merlin firmware (so I thought, it was not a device bug, but firmware).

The model in the integration is taken from the NVRAM of the device directly. I will look into this and try to fix it in the next release.

Meanwhile, PR #110 will add RT-AX82U to the supported device

[2022-06-05 12:12] Vaskivskyi commented on #111
Hello, @elRadix,

Thanks for your feedback! 👍🏻

I am glad, everything works for your device.

PR #112 will add it to the supported devices list (under Non-Asus devices) and will close this issue.

In case you will experience any problems or you would like to submit a feature request, please open a new [issue](https://github.com/Vaskivskyi/ha-asusrouter/issues/new/choose)

[2022-06-05 12:12] #109 closed

[2022-06-05 12:14] #111 closed

[2022-06-05 14:26] BeHappy2021 opened #114 "[Device support]"
### The problem

Working fine - Did not test LED control though.

### Your device model

DSL-AC68U

### Firmware type

Stock

### Firmware version

3.0.0.4.386_47534-g23e7ef6

### Does everything work well?

Yes

[2022-06-05 14:38] Vaskivskyi commented on #114
Hello, @BeHappy2021,

Thanks for your feedback! 👍🏻

I am glad, everything works for your device.

PR #115 will add it to the supported devices list and will close this issue.

In case you will experience any problems or you would like to submit a feature request, please open a new [issue](https://github.com/Vaskivskyi/ha-asusrouter/issues/new/choose). This also goes if you will have problems with

[2022-06-05 14:38] #114 closed

[2022-06-06 01:25] Davrebelo opened #117 "[Device support]"
### Anything you want to mention?

_No response_

### Your device model

ZenWiFi AX Mini (XD4)

### Firmware type

Stock

### Firmware version

3.0.0.4.386_48790

### Does everything work well?

Yes

[2022-06-06 04:27] BeHappy2021 commented on #114
Thanks for this. I've actually used it to replace the official Asus integration as it works way better.

[2022-06-06 05:28] Vaskivskyi commented on #117
Hey, @Davrebelo,

Thank you for the feedback! 👍🏻

PR #118 will add your device to the list of supported and will close this issue.

In case you will experience any problems with the integration, please open a new [issue](https://github.com/Vaskivskyi/ha-asusrouter/issues/new/choose).

Have a nice day! 🙂

[2022-06-06 05:28] #117 closed

[2022-06-07 19:52] Vaskivskyi commented on #47
After adding features of 0.3.0 and 0.4.0 to the comparison list (https://github.com/Vaskivskyi/ha-asusrouter/issues/47#issuecomment-1128442743), seems like AsusRouter is not behind the AsusWRT anymore any sensors.

Of course, development and stability improvement are not over yet 🙂

[2022-06-08 11:27] Oligarch opened #119 "[Feature] Create a new entity from the "hostname" field"
### The problem

Can we have possibility to choose whether new device_tracker entities are created from the name or hostname field? If I'm not mistaken, the AsusWRT integration with hostname value known to the router creates object names from it. That would be much more convenient.

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-06-08 16:37] Vaskivskyi commented on #119
Hey, @Oligarch,

I would need a bit more explanation of what exactly you mean by "name" for this feature.

Currently, the `device_tracker` entity name (and its `host_name` attribute) are obtained from the router with the following priority:
1. Friendly name of the device if set manually in the router configuration (e.g. user has renamed the device by going to Clients - View list - click on Client

[2022-06-08 18:56] Vaskivskyi commented on #119
Unfortunately, this data is not available in any of the API endpoints with device information. The only way to get it - directly read `dhcp_staticlist` value from NVRAM. But NVRAM doesn't have almost any other value used for identifying connected devices and their connection.

So if I add the possibility to read this value, the integration will have to do 2 different requests (NVRAM read + get eve

[2022-06-10 21:35] Vaskivskyi opened #120 "[Bug] LED light entity wrong after device reboot"
### The problem

After the router goes through a reboot, LEDs are back `on`, but the status is still reported as `off`

This should be handled somehow

### Your device model

RT-AX88U

### Firmware type

Merlin

### Firmware version

3.0.0.4.386.5_2

### Integration version with the issue

0.4.0

### Method of the integration installation

HACS

### What version and type of Home Assistant installa

[2022-06-11 07:43] sepodele opened #121 "[Bug] Exception: invalid literal for int() with base 10: '<i>off</i>'`"
### The problem

I'm getting this error in HA but the integration seems to work:

`Logger: asusrouter.connection
Source: /usr/local/lib/python3.9/site-packages/asusrouter/connection.py:122
First occurred: 10. juni 2022, 10:02:30 (2770 occurrences)
Last logged: 09:07:13

Error sending a command to ajax_sysinfo.asp. Exception: invalid literal for int() with base 10: '<i>off</i>'`

### Your device mo

[2022-06-11 08:39] Vaskivskyi commented on #121
Hello, @sepodele,

Thank you for your feedback! 👍🏻

Seems like your device is reporting values, which are not expected in the SysInfo. Or, to be more exact something is not an integer number, but `off`. We would need to find out, which value is giving the exception.

Could you please log in to the web panel of the device from a browser and then navigate to `https://router:port/ajax_sysinfo.asp` (t

[2022-06-11 09:07] sepodele commented on #121
`etherstate = "Switch: enabled >Port 0: 1000FD enabled stp: none vlan: 2 jumbo: off mac: 00:27:90:ff:44:29>Port 1: 100FD enabled stp: none vlan: 1 jumbo: off mac: 00:0c:39:95:ef:7b>Port 2: 1000FD enabled stp: none vlan: 1 jumbo: off mac: 00:11:42:cf:32:df>Port 3: 1000FD enabled stp: none vlan: 1 jumbo: off mac: 44:09:c8:76:84:83>Port 4: DOWN enabled stp: none vlan: 1 jumbo: off mac: 00:00:00:00:00

[2022-06-11 09:17] Vaskivskyi commented on #121
The problem was with the wlc_51_arr. I will prepare the fix. Will be released in the next version of the integration.

I will notify you when released

[2022-06-12 19:47] Vaskivskyi commented on #120
Confirmed to be only Merlin-related.

RT-AX88U with the stock FW doesn't have such a problem. With Merlin - does

[2022-06-12 21:00] Vaskivskyi commented on #121
Hey, @sepodele,

The latest version 0.5.0 should have fixed the issue. Can you check it and let me know?

[2022-06-12 21:09] sepodele commented on #121
No errors in the log so far. Thanks a bunch.

[2022-06-12 21:12] Vaskivskyi commented on #121
Great!

If you will experience any other problems with the integration, please, feel free to open a new issue.

Thanks for helping me make the integration better! 👍🏻

[2022-06-12 21:12] #121 closed

[2022-06-12 21:18] sepodele opened #132 "[Feature] Show speed in KB/sec and MB/sec?"
### The problem

I get that the raw output shows speed in mbits but can we have sensors for kB/sec and MB/sec too so we don't have to create template sensors for this? Mbits is silly.

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-06-12 21:23] sepodele opened #133 "[Feature] List devices as attributes under connected devices sensor?"
### The problem

I often would like to know what devices are connected and it's tiresome to check the router ui. Can we have the names and IPs of the connected devices as attributes of the connected devices sensor?

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-06-13 07:21] Vaskivskyi commented on #132
Hey, @sepodele,

`Mb/s` (`Mbits/s`) is a standard way to describe network speeds - that is why this is a default way to show them in the integration. Each entity also has a `raw` attribute in `b/s` for easy calculations of custom values.

I could think of an option in the integration configuration "Select units for XXX sensor". This one you will be able to select during the initial configuration o

[2022-06-13 07:43] sepodele commented on #132
Sure. That's certainly a valid option. 👍

[2022-06-14 22:35] RealGandy opened #135 "[Bug] Failed parsing value 'internetMode'."
### The problem

Following Error reported in logs:

2022-06-14 23:17:13 WARNING (MainThread) [asusrouter.util.parsers] Failed parsing value 'internetMode'. Please report this issue. Exception summary: ("Wrong value time of type <class 'str'>", None)

### Your device model

DSL-AC68U

### Firmware type

Merlin

### Firmware version

386.04-gnuton2

### Integration version with the issue

5.0.0

###

[2022-06-15 06:05] Vaskivskyi commented on #135
Hello, @RealGandy,

Thank you for your feedback! 👍🏻

Seems like you are having an issue similar to #29.

Could you please run this python snippet from any environment with AsusRouter library installed? Or you can install the library via `pip3 install asusrouter` in any environment. Just put the code into some `script.py` and then run it with `python3 script.py`

Just put your router data at the en

[2022-06-15 10:57] Vaskivskyi commented on #135
Yes, probably this is the reason. I will check this with my device later today (I am not using parental control, so never tested its features). If so and the fix is simple, it would be available either today or tomorrow. If a bit more to change - during the weekend with the next version of the integration

I will let you know

[2022-06-15 12:15] Tekno-man opened #136 "[Feature] Change port forward settings"
### The problem

Hi, I just stumbled upon your integration and it looks great, so many more features than the standard HA asuswrt one. I'm not sure what the limitations are of the api you are using but wondered if it gave you access to different settings specifically the port forward settings? Ultimately wanting to change port forward settings through automations and update the source IPs through

[2022-06-15 20:32] Vaskivskyi commented on #135
Hey,

With the new version [0.5.1](https://github.com/Vaskivskyi/ha-asusrouter/releases/tag/0.5.1) you should not get such warnings anymore

Please, check it out

[2022-06-15 20:35] Vaskivskyi commented on #29
Hey,

With the new version [0.5.1](https://github.com/Vaskivskyi/ha-asusrouter/releases/tag/0.5.1) you should not get warnings anymore.

Please, check it out.

Since it looks like this was the final part of this issue, I can close it now.

If you would experience any other issues with the integration, feel free to open a new [issue](https://github.com/Vaskivskyi/ha-asusrouter/issues/new/choose).

[2022-06-15 20:35] #29 closed

[2022-06-15 20:45] Vaskivskyi commented on #28
Hey,

Since quite all of the requested features are already implemented (with some only for Merlin features and not being possible for the stock firmware), I would close this issue. It would be easier for me to monitor issues and feature requests, where I can implement something.

But in any case, all of the FW-specific features of the integration will be considered for future development even wit

[2022-06-15 20:45] #28 closed

[2022-06-15 21:49] RealGandy commented on #135
Yes, all good now thanks.

[2022-06-15 21:49] #135 closed

[2022-06-16 02:21] fookyuanloh opened #144 "[Bug] asusrouter.light error"
### The problem

Logger: homeassistant.setup
Source: setup.py:298
First occurred: June 15, 2022, 11:48:34 PM (1 occurrences)
Last logged: June 15, 2022, 11:48:34 PM

Unable to prepare setup for platform asusrouter.light: Platform not found (cannot import name 'ColorMode' from 'homeassistant.components.light' (/usr/src/homeassistant/homeassistant/components/light/__init__.py)).

Can we suppress thi

[2022-06-16 05:04] poudenes commented on #28
Good idea! Thanks for the great Addon!!! I consider to try merlin. But scare I screw up my perfect running network haha ;)

[2022-06-16 05:09] Vaskivskyi commented on #28
I would say, make a config backup and you should be safe enough. Lately, I am flashing my devices back and forth at least twice per week when testing the new release. WIthout any reset or readjustments

[2022-06-16 05:19] Vaskivskyi commented on #144
Hello, @fookyuanloh,

Thanks for your feedback! 👍🏻

This issue is not device-related, but HA backend related. Apparently, I have forgotten to rise up requirements for the HA version. The `ColorMode` enum which is failing to load in your case was added only on April 11, so probably got into release with 2022.5.0. I will check the HA source code and implement the needed changes to the integration re

[2022-06-16 05:34] fookyuanloh commented on #144
Can't use 2022.5.0 and above
That messed up my onvif camera integrations where I don't get the cpu util for the cams

Hence I stayed on 2022.4.7 till date

[2022-06-16 05:45] Vaskivskyi commented on #144
Sorry to hear that. Unfortunately yes, HA implements lots of breaking changes quite regularly trying to keep the release/month scheme 💥

Unfortunately, there is no way for the integration to find out what is HA version and avoid loading not-yet-implemented parts. And I cannot just use deprecated values available up to 2022.4.7, since then everyone with 2022.5.0+ will get warnings in their log,

I

[2022-06-16 12:04] poudenes commented on #28
This morning moved to Merlin. Everything in the house is working. Even old ESP devices... :)
Now I have Load AVG also :)

[2022-06-16 18:39] #144 closed

[2022-06-18 01:06] tismofied commented on #132
I would love the option to choose  output speed values.
while we wait for an enhancment, how does one create a sensor template to show speeds in mbits?

[2022-06-19 06:28] Vaskivskyi commented on #132
@tismofied,

I am not really getting your question, since speeds are already in `Mbits/s`. But in general, here is an answer for templates.

If you want to have a sensor in some custom units, in your configuration.yaml you need to add:

[code]

Where:
- `name` - is the name of the new sensor
- `unique_id` - needed, so you will be able to change the id from the HA frontend
- `state` - the value for

[2022-06-22 09:39] NachoMas opened #146 "[Feature] : Device blocking"
### The problem

So far the device tracker only has a sensor that reports Internet:true or false. I would like to be able to block the device from HA as in the native Asus GUI

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-06-22 16:43] Vaskivskyi commented on #146
Hello, @NachoMas,

Thanks for your feedback! 👍🏻

This function is already planned for the integration

[2022-06-22 17:53] NachoMas commented on #146
Excellent! And thanks so much for an great addon! I've been fiddling with ssh commands to try to implement some of the functionality the addon delivers and this is a very welcomed improvement!

[2022-06-29 14:09] sezlony opened #147 "Impossible(?) boot times"
### The problem

first of all I don't really know if it's really a bug or not, because AC1200G+ isn't even listed as compatible...

looking at history, the "graph" of boot time enity is like a rainbow, meaning the router restarts every hour

is that possible (a bug maybe in the integration) or just a consequence of incompatibility?

![asusrainbow](https://user-images.githubusercontent.com/10176088

[2022-06-29 15:14] Vaskivskyi commented on #147
Hello, @sezlony,

Thanks for your feedback! 👍🏻

No, this is not how the boot time should look like. If you put your cursor over the timeslot in the history, you will see the value at a specific time. Are the values every hour different for an hour?

Example of the usual history with a device being rebooted much too regularly in comparison to the average one (due to the testing purposes):

![image]

[2022-06-29 19:10] Vaskivskyi commented on #147
We can definitely narrow the search down now. Since the device doesn't reboot and other sensors are fine, probably something is not correct with the value parsed from the device API.

Could you please log into the web panel and then go to the `my.router.address/ajax_status.xml` (use the correct IP/hostname of your device instead of `my.router.address`). It will be the XML with the devicemap. You a

[2022-06-29 19:34] sezlony commented on #147
here come the data:
`<sys>uptimeStr=Wed, 29 Jun 2022 21:26:51 +0200(338228 secs since boot)</sys>`

and here is a screenshot of the actual uptime data in the common log:
![Screenshot_2022-06-29 ASUS vezeték nélküli router RT-AC1200G+ - Általános napló](https://user-images.githubusercontent.com/101760883/176520307-7c8568d0-a1ef-401c-8d33-c03c9c9e342f.png)
(translation: Uptime 3 days 21 hours 59 min

[2022-06-29 20:57] sezlony commented on #147
i only have these warnings/errors related to the asus integration:
[code]

they seem to be harmful, no other clue what is happening :(

[2022-07-01 08:29] cjescudero opened #148 "RT-AX86S working"
### Anything you want to mention?

I have tested ASUS Router integration on a Home Assistant (2022.6.7), with an Asus RT-AX86S Router, which is a simplified model of the RT-AX86U (half the memory and CPUs).

It works perfectly, except that the identified model is the RT-AX86U.
<img width="334" alt="Captura de Pantalla 2022-07-01 a las 10 26 31" src="https://user-images.githubusercontent.com/206149

[2022-07-03 08:57] shivastefan opened #149 "[Device support]"
### Anything you want to mention?

i just cant do it :(

Logger: custom_components.asusrouter.config_flow
Source: custom_components/asusrouter/config_flow.py:181
Integration: ASUS Router ([documentation](https://github.com/Vaskivskyi/ha-asusrouter), [issues](https://github.com/Vaskivskyi/ha-asusrouter/issues))
First occurred: 11:12:34 (2 occurrences)
Last logged: 12:52:41
Unknown error of type '<c

[2022-07-03 16:47] Vaskivskyi commented on #149
Hello, @shivastefan,

Thanks for your feedback! 👍🏻

I am sorry, integration does not work for you. As I see, you cannot even set up the integration. I can imagine, this is the last config flow table, you get to? [#2b. Complete device setup](https://github.com/Vaskivskyi/ha-asusrouter/blob/main/docs/setup.md#2b-complete-device-setup)

Is your router available via both HTTP and HTTPS connections? Yo

[2022-07-03 16:55] Vaskivskyi commented on #148
Hello, @cjescudero,

Thanks for your feedback! 👍🏻

PR #150 will add your device to the supported list with a remark about being reported as RT-AX86U and close this issue.

The model name is reported from the device NVRAM. There happen to be some problems with the 'similar models'. Apparently, this is the case.

I will in any case look into this, even though this is only a cosmetic issue, but canno

[2022-07-03 16:56] #148 closed

[2022-07-04 13:23] shivastefan commented on #149
wow, thank you very much for your fast qualityanswer!
ty for your input!
i did set it to both again but i get the same errors, tried some combinations :(

well its a firmware from 16. may 2022, [https://onedrive.live.com/?authkey=%21ALJXk06IprzMMDc&id=9332FC159A7E129%216597&cid=09332FC159A7E129]

do i need to be in a domain or have some ddns? bc i cannot connect to router.asus.com for example!

[2022-07-07 12:42] c0j0s opened #151 "[Feature] Support for WOL?"
### The problem

Hi, great work on the integration 👍.
Currently I'm trying to implement a at-home automation in HA, I wanted the router to wake my WOL device when someone comes back home.

Asuswrt WebUI internally make a POST call with a ether-wake command payload to apply.cgi endpoint.

Here is the payload content.
[code]

Would be useful for automation if It's possible, Thank you.

### Specific

[2022-07-07 18:23] sfortis commented on #151
Why bothering? It is build in into HA.

For example you can create a WOL / sleep switch ( in my case, im posting a MQTT message to PUSH2RUN for the sleep command)

switch:
   - platform: wake_on_lan
     name: "your switch name"
     mac: XX:XX:XX:XX:XX:XX
     host: 192.168.1.XX
     turn_off:
      service: mqtt.publish
      data:
        payload: sleep
        topic: push2run

[2022-07-08 00:04] c0j0s commented on #151
My HA instance is on a different network, I've tried the buildin wol, doesn't seem to work, so I'm just exploring different options.

I'll try your approach too, thank you.

[2022-07-08 00:36] fcastilloec opened #152 "[Bug] Cannot setup integration"
### The problem

I can't configure this integration. I thought it was related to the default port, but after reading the additional info in the README, and realizing that I have to force an error before I'm allowed to set a custom port number. Now I'm getting a weird error and can't pass the configuration stage.

### Your device model

RT-AC68U

### Firmware type

Merlin

### Firmware version

386

[2022-07-08 05:35] Vaskivskyi commented on #152
Hi, @fcastilloec,

Thank you for your feedback! 👍🏻

I am sorry, that the integration doesn't work for you. I will look into this issue and let you know the approximate timeframe for the fix. But, let's say, a couple of days.

The idea of separating port and other specific settings from credentials is to simplify the setup for most of the users. You don't have to "force error" to be able to select

[2022-07-08 05:41] Vaskivskyi commented on #151
Hi, @c0j0s,

As @sfortis has already mentioned, WOL is of course a part of HA already. But maybe it will come to AsusRouter as well. Unfortunately, I cannot guarantee any timeframe currently, but I will look into this idea.

P.S. If you are trying to send WOL between networks, you should make sure that the port for WOL is allowed to pass your router(s). I suppose, the default port is either 7 or 9

[2022-07-09 02:52] c0j0s commented on #151
Hi @Vaskivskyi,

Thank you for your suggestion, I've explored further and able to get the built-in HA WOL working.
I'm using openvpn to tunnel my HA instance back, seems like it needs a L2 bridge for the WOL package to work as it's a L2 protocol. Took some time to test the setup and resolve configuration issues to get it running.
If AsusRouter allows for remote wol service then it would much simpl

[2022-07-09 02:52] #151 closed

[2022-07-09 19:43] tux2000 opened #153 "[Device support] RT-AC51U"
### Anything you want to mention?

LED Support and several sensors seem not to be available. These are the sensor that were set up:
![image](https://user-images.githubusercontent.com/1639672/178120441-783aebd4-d100-429c-9fa4-402fa1d4b70f.png)

### Your device model

RT-AC51U

### Firmware type

Stock

### Firmware version

3.0.0.4.380_8591-ga8dd632

### Does everything work well?

No

[2022-07-10 12:51] maicol07 opened #154 "[Device support] DSL-AX82U"
### Anything you want to mention?

_No response_

### Your device model

DSL-AX82U

### Firmware type

Merlin

### Firmware version

3.0.0.4.386.07_0-gnuton0_beta2

### Does everything work well?

Yes

[2022-07-12 08:28] vwt12eh8 opened #155 "[Feature] Reboot button"
### The problem

I would like a button entity to reboot the router.

This would allow for more control over the reboot scheduler, detecting that the router has become unstable and rebooting it.

### Specific device(s)?

No

### Firmware type

No

[2022-07-12 18:28] fcastilloec commented on #152
I've updated my Home Assistant a couple of times since this issue was reported, currently running (2022.7.3), HACS has also been updated (which I don't think is as relevant) to version 1.26.0. I'm not able to set up your integration without any issues. I needed it primarily for presence tracking and it's working perfectly.
I'm not sure if this issue should be closed yet, but I can't replicate this

[2022-07-12 21:34] asucrews opened #156 "[Feature] AP Mode Wan Port show Up vs disconnected."
### The problem

Current ASUS routes in AP Mode show WAN port as disconnected, and WAN IP as 0.0.0.0.  I am sure this how the API is listing it, however it would be nice if show something different so it better track interface status.

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-07-17 06:03] sfortis opened #157 "[Bug] Connection reset by peer"
### The problem

At random times, integration is disconnected from the router.

When this happen, all entities are frozen in time.

![image](https://user-images.githubusercontent.com/15342157/179385803-f6ac273f-dba5-44e7-abeb-e9b1627715d8.png)

Integration should try to recover and reconnect since https on the router is accepting connections. The only was to recover the integration is to restart h

[2022-07-18 02:21] fookyuanloh opened #158 "[Feature] Display Ethernet Ports Status"
### The problem

Feature request to get/display status per Ethernet port
Something like below:

![image](https://user-images.githubusercontent.com/79247061/179436508-0d19ac19-f84c-4aff-aaa3-dd294f70f577.png)

Need to capture which port is active - up/down

The one on your desc. may not fit/show the real case:
Ports connection sensors
(disabled by default)

names: lan_speed / wan_speed
units: Mb/s

[2022-07-19 12:11] xxLexanixx opened #159 "[Device support] Asus DSL-AC68VG Connect. - unknown error"
### Anything you want to mention?

I can connet to the Router. unkown error

### Your device model

DSL-AC68VG

### Firmware type

Stock

### Firmware version

Version 5.00.09_build274

### Does everything work well?

No

[2022-07-20 06:04] tintin814 opened #160 "[Bug] Connected device not update"
### The problem

I used this integration with my R7000 router by applying default setup.  Everything works fine except number of connected device doesn't updated until I click the "Download diagnostics" button.  For example, there is 10 devices connected to the router.  After I left home, it should become 9.  It is updated in Asus app, but in this integration it remains 10 for 2 hours later until

[2022-07-22 07:48] Vaskivskyi commented on #153
Hello, @tux2000,

Thank you for your feedback 👍🏻  and sorry for the late reply.

Unfortunately, firmware 3.0.0.4.380 is too old and does not support some features (including LED control). But there definitely should be more sensors than traffic/speeds on the network interfaces.

Could you please check if there are any disabled sensor entities? Most of the sensors are created in the disabled state

[2022-07-22 07:59] Vaskivskyi commented on #156
Hey, @asucrews,

Thanks for your feedback! 👍🏻

I will look into the feature and check if it can be implemented into the integration.

Unfortunately, currently, I cannot guarantee a timeframe

[2022-07-22 08:01] Vaskivskyi commented on #157
Hello, @sfortis,

Thanks for your feedback! 👍🏻

I am aware of this problem and am working on the fix. Unfortunately, I cannot yet guarantee any timeframe, but this bug has a high priority on the list of what to fix.

[2022-07-22 08:07] Vaskivskyi commented on #158
Hey, @fookyuanloh,

Thanks for your feedback! 👍🏻

Could you please provide a bit more info on what you would like to see in the integration? Currently, the attributes for `lan_speed` and `wan_speed` show the following (depending on the number of ports, of course):

![image](https://user-images.githubusercontent.com/6554415/180393160-0678ed4f-ba8d-45fb-b02c-944d198563e8.png)

In principle, this is

[2022-07-22 08:17] Vaskivskyi commented on #159
Hey, @xxLexanixx,

Thanks for your feedback! 👍🏻

Unfortunately, your device's firmware (5.*) is not supported by the integration (at least, not yet). This is a specific firmware for some Asus devices only and I don't have a device for testing it.

As far as I know, there are AsusWRT-Merlin builds (https://gnuton.github.io/asuswrt-merlin.ng/) which might be compatible with your device (but you shou

[2022-07-22 08:23] Vaskivskyi commented on #160
Hey, @tintin814,

Thanks for your feedback! 👍🏻

The integration does suppose to automatically update the number of connected devices. This behaviour you have is out of the usual. Is there anything in the HA log? By default, there will be only Warnings or Errors shown, but that should be enough for now.

Do other sensors update normally or also behave like this?

[2022-07-22 08:26] Vaskivskyi commented on #152
That's good, the issue does not repeat anymore. I will leave the issue open since there is still something to fix related to it

[2022-07-22 08:34] Vaskivskyi commented on #149
Hey, @shivastefan, sorry for the delay with the reply.

You can use the main or mirror download pages from [official Merlin webpage](https://www.asuswrt-merlin.net/download). Not the beta ones. E.g. https://sourceforge.net/projects/asuswrt-merlin/files/RT-N66U/Release/ has 380.70.0 release.

I was using the same release 380.70.0 on RT-AC66U (also an old device) and integration did work well. Maybe

[2022-07-22 08:39] tux2000 commented on #153
Indeed, there were several deactivated sensor. Now I got:
![image](https://user-images.githubusercontent.com/1639672/180399881-ecaefdf4-6136-4760-8ff5-02aa3dbc2e21.png)

[2022-07-22 09:01] Vaskivskyi commented on #149
Yes, I heard of it. There are different 3rd party firmware with more features.

I'm for now sticking with Merlin since it has all the stability of the stock firmware, as well as some nice features for VPN. Of course, it is not as customizable. On the better side, it has the full support of 802.11AX, which is a problem for 3rd-party firmware (or was a problem when I studied the question last time).

[2022-07-22 09:28] sfortis commented on #157
@Vaskivskyi great 👍 maybe it has to do with the asus router itself which not allows multiple concurrent logins

https://www.snbforums.com/threads/how-to-allow-multiple-logins.10211/

btw. I've switched the integration to https and seems to be more stable. 2 days and still running...

[2022-07-22 11:01] Vaskivskyi commented on #157
Yes, partially. You cannot login twice to the WebUI (will get "someone is already logged in"), but the limits for the mobile apps and the integration (which makes it look like an official app for the router) are a bit different. Depending on the firmware, several connections are possible. But let's say more new logins are detected - more old ones will be reset.

With newer devices, it happens not

[2022-07-22 15:24] BrendanxP opened #161 "[Device support] TUF-AX5400 - [Bug] AiMesh Routers"
### Anything you want to mention?

**Confirmed fully working on a TUF-AX5400, including light control!**

Moreover, I have 2 more AiMesh routers; RT-AX82U and BLUE CAVE. When I added the IP of the RT-AX82U, the control for its light did not pop-up under its configuration. However, after I added the BLUE CAVE, both the RT-AX82U and the BLUE CAVE are labelled BLUE CAVE and they both got the control

[2022-07-22 15:42] Vaskivskyi commented on #161
Hey, @BrendanxP,

Thanks for your feedback! 👍🏻

I am glad, your AX5400 works well.

Unfortunately, AIMesh support is still in progress for the integration, since I don't have any such device for tests. Eventually, it will be fully implemented, but I cannot guarantee any timeframe yet.

[2022-07-22 15:53] #154 closed

[2022-07-23 01:02] fookyuanloh commented on #158
Noted
Thanks for the advise, technically your explanation of speed to indicate ON/OFF could be a workaround now.

Happy to live with that
Let's close this item

[2022-07-23 05:42] Vaskivskyi commented on #158
I am happy, this has helped you!

[2022-07-23 05:42] #158 closed

[2022-07-29 16:56] sfortis commented on #157
IDK if its a happy accident, but since switched the integration to https protocol, ive zero disconnections. I keep using routers UI on http. So far so good!

<img width="760" alt="image" src="https://user-images.githubusercontent.com/15342157/181807784-5a33ca37-814b-407f-aaa4-e3a9b8b009bc.png">

[2022-07-30 19:47] #152 closed

[2022-07-30 19:53] #149 closed

[2022-07-30 20:00] Vaskivskyi commented on #153
PR #169 will add `RT-AC51U` to the supported devices list with a remark, that LED control is not available due to the FW limitations. It will also close this issue.

If you are experiencing any other issues, please open [a new report](https://github.com/Vaskivskyi/ha-asusrouter/issues/new/choose)

[2022-07-30 20:00] #153 closed

[2022-07-30 20:04] Vaskivskyi commented on #159
Since information on the FW 5.* is already added to the readme, I will close this issue. Unfortunately, until I get any such device for tests, I cannot implement any change to the integration

[2022-07-30 20:04] #159 closed

[2022-07-30 20:07] Vaskivskyi opened #171 "[Bug] Config issues with XT8"
### Discussed in https://github.com/Vaskivskyi/ha-asusrouter/discussions/166

<div type='discussions-op-text'>

<sup>Originally posted by **w0lf3h** July 27, 2022</sup>
Hey there :)

Trying to get this integration setup with my XT8. First off, the config flow doesn't allow me to enter the SSL certificate path till after going through the config flow at least once. Then I have to go back to "config

[2022-07-30 20:09] Vaskivskyi commented on #171
Hey, @w0lf3h,

Thanks for your feedback! 👍🏻

It seems more like a bug, so I created an issue - this way I will not lose the info in the discussion section.

Did you try entering the absolute path for the certificate?

[2022-07-30 20:16] #40 closed

[2022-07-31 18:16] Vaskivskyi commented on #133
Hey,

PR #172 is adding a list of the devices (including MAC, IP and name) as a `devices` attribute for the `connected_devices` sensor.

This feature will be included in the next release. The readme will be updated with the info on the new attribute.

[2022-07-31 18:16] #133 closed

[2022-07-31 20:48] Vaskivskyi commented on #132
Hey,

PR #173 adds the requested functionality to select units for traffic and speed.

The change will be included in the next release of the integration

[2022-07-31 20:49] #132 closed

[2022-07-31 21:17] Vaskivskyi commented on #157
Hey, @sfortis,

Thanks to your report I have found a problem with the integration Diagnostics module. It's already solved in PR #174 and will be released with the next integration version.

Thanks! 👍🏻

Meanwhile, work on the issue itself is still in progress

[2022-08-01 06:55] sfortis commented on #157
@Vaskivskyi  great news! thanks for your work on this

[2022-08-01 18:46] w0lf3h commented on #171
I did try dropping it into /config/www/ and using the http://ip:port/local/filename path as well, and I just get a "CA certificate is missing" error. Either way, the config flow doesn't prompt to enter a certificate path when the integration is being setup, and you can't enter one till you "configure" to go through the flow a second time.

[2022-08-01 22:07] Vaskivskyi commented on #171
You might try `/home/homeassistant/.homeassistant/config/...` to see if it works (or your own correct path to the HA directory).

A proper way of handling SSL certificates is in work

[2022-08-03 03:38] w0lf3h commented on #171
Still getting the same errors.
`2022-08-02 20:37:40 ERROR (MainThread) [homeassistant.config_entries] Error setting up entry router.asus.com for asusrouter
File "/config/custom_components/asusrouter/bridge.py", line 130, in async_get_connected_devices
File "/usr/local/lib/python3.10/site-packages/asusrouter/asusrouter.py", line 731, in async_get_devices
File "/usr/local/lib/python3.10/site-package

[2022-08-03 19:29] Vaskivskyi commented on #155
Hey, @vwt12eh8,

Reboot service is coming with PR #180 and will be available in the next release of the integration.

![image](https://user-images.githubusercontent.com/6554415/182693080-200680fc-5d29-4b36-9161-6fa649ba1438.png)

[2022-08-03 19:30] #155 closed

[2022-08-03 19:40] Vaskivskyi commented on #157
Hi, @sfortis,

Can you still get into the `Connection reset by peer` error? With the latest version (0.6.0) integration became more stable

[2022-08-03 19:43] Vaskivskyi commented on #160
Hey, @tintin814,

Can you please check if the issue still persists on the 0.6.0 version? Unfortunately, I don't have R7000 for the tests, but integration seems to handle device trackers well on Merlin 380.70 on Asus devices

By the way, how is it with the other sensors from the integration? Do they work properly? Do you have any errors or warnings in the HA log?

[2022-08-04 00:52] tintin814 commented on #160
Hi @Vaskivskyi

This issue perisists more than a week and now I moved to nmap tracker without any issue.  Device status is updated automatically in frw minutes when I connect/disconnect from the router.

There was no log/error notification in HA.  Let me know if you need further information.

[2022-08-04 05:39] Vaskivskyi commented on #160
[Version 0.6.0](https://github.com/Vaskivskyi/ha-asusrouter/releases/tag/0.6.0) of the integration which I mentioned was released yesterday night and has stability and connection improvements. Since you marked that you installed the integration manually from the stable branch, you would need to update it manually as well. BTW, why didn't you use HACS installation?

[2022-08-04 06:42] tintin814 commented on #160
Let me try tonight. I'm unable to install HACS because my HA is installed as a docker in my NAS environment.  I know it can be installed through terminal, but unfortunately my NAS doesn't provide any terminal application.

[2022-08-04 12:23] Vaskivskyi commented on #171
Does your certificate file have proper permissions? It should belong to the homeassistant/homeassistant with 644 permissions, exactly the same way as `configuration.yaml`. Or your user name/group.

The only way certificate file is checked - by the `pathlib` using `pathlib.Path(path_to_file).is_file()`

You may check it directly. Just use this python code from the HA venv:
[code]

[2022-08-04 15:44] Vaskivskyi commented on #157
@sfortis,

Good! 👍🏻  I'm happy to help.

If you will experience any other issues or even the same disconnection issue, please open a new [bug report](https://github.com/Vaskivskyi/ha-asusrouter/issues/new/choose), so it will be easier for me to keep track of the things

[2022-08-04 15:44] #157 closed

[2022-08-04 23:10] w0lf3h commented on #171
Yeah looks like 644 permissions.

[2022-08-05 05:36] Vaskivskyi commented on #171
`644` is `-rw-r--r--`

[2022-08-06 19:15] richardzone opened #182 "[Device support] Netgear R6300V2 + Merlin 380.70 fully working"
### Anything you want to mention?

After https://github.com/Vaskivskyi/asusrouter/issues/101 is fixed, Netgear R6300V2 is now fully working. Thanks for this awesome integration!

### Your device model

Netgear R6300V2

### Firmware type

Merlin

### Firmware version

380.70

### Does everything work well?

Yes

[2022-08-06 21:46] Vaskivskyi commented on #182
Hey, @richardzone,

Thanks for your feedback! 👍🏻

I am glad, the integration works well for you. PR #183 will add the device to the supported list and will close this issue. If you experience any problem with the integration or would like to submit a feature request, feel free to open [a new issue](https://github.com/Vaskivskyi/ha-asusrouter/issues/new/choose)

[2022-08-06 21:46] #182 closed

[2022-08-10 08:05] rkkoszewski opened #184 "[Bug] Device tracking is unreliable during longer periods of time. ha-asusrouter never recovers from AsusRouterServerDisconnectedError"
### The problem

Hi, so this seems to be happening since a long time now. Whenever my Home Assistant instance is running during longer periods of time (And by that I mean more than 2 or 3 days), the device tracking part of ha-asusrouter stops working and never recovers until I eider restart the component or restart HA all together. The tracking of WiFi stats, CPU usage, network transfer, etc still

[2022-08-10 14:53] Vaskivskyi commented on #184
Hi, @rkkoszewski,

Thanks for your feedback! :+1:

I am aware of this issue and it is in the priority list for a fix. Unfortunately, it is not easy to reproduce on my device (RT-AX88U), so it takes much longer then I expected to test everything out.

I hope to finish work on it by the end of August.

[2022-08-10 15:04] rkkoszewski commented on #184
Awesome! Thank you as always @Vaskivskyi for looking into it!

[2022-08-13 16:51] milandzuris opened #185 "[Bug] Connected devices"
### The problem

To my Router connected 35 device in HA i see only 16 why?, in HA i see only device which are integrated with HA.

### Your device model

RT-AC57U V3

### Firmware type

Stock

### Firmware version

3.0.0.4.386_21649-g7401a04

### Integration version with the issue

on all versions i have this problem

### Method of the integration installation

HACS

### What version and type of H

[2022-08-14 14:39] Vaskivskyi commented on #185
Hello, @milandzuris,

Thank you for your feedback! 👍🏻

The default HA way of handling device trackers is the following:

If the connected device's MAC address is known to Home Assistant (e.g. it was set up by another integration ABC), its device_tracker will be added to that device in the enabled state. Moreover, this device will be showing for both integrations: AsusRouter and ABC

So if your dev

[2022-08-14 15:58] fi6 opened #186 "[Device support] GT-AX6000"
### Anything you want to mention?

As gt-ax6000 being the main router of Asus-merlin's maintainer, it would be nice to have support for such device. However, I can't find my ax6000 in ha-asusrouter and it would be very helpful if this could be fixed. Thanks!

### Your device model

GT-AX6000

### Firmware type

Merlin

### Firmware version

386.7_2

### Does everything work well?

No

[2022-08-14 16:51] Vaskivskyi commented on #186
Hello, @fi6,

Thanks for your feedback! 👍🏻

The list of supported devices does show only those of them tested by me (RT-AX88U and RT-AC66U) or reported by other users. The integration should work with all the other Asus devices (and not only Asus when Merlin is used) as well.

Unfortunately, direct testing of the integration for all the available models on market is not possible (e.g. GT-AX6000 is

[2022-08-15 08:08] gmariotti opened #187 "[Bug] Could the addon cause a memory leak?"
### The problem

Hi, I had the addon installed for less than a week and started to notice the memory usage of my router slowly increasing from 50% to more than 80% in just a couple of days. Using `top`, I noticed that the process with high memory usage is `httpds -s -i br0` so I decided to do a quick test. Disabled the addon, reboot the router, and see the memory usage of the process. Nothing real

[2022-08-15 09:26] Vaskivskyi commented on #187
Hey, @gmariotti,

Thanks for your feedback! 👍🏻

The integration is using the same API, as the WebUI or mobile apps. Even though RAM usage increases with time, this should not be a problem. As soon as it reaches something between 80 and 90% of usage (depending on the model and the FW), the device is supposed to start freeing up some RAM. This is a feature of the Asus firmware.

If you are afraid of

[2022-08-15 14:14] gmariotti commented on #187
Hey @Vaskivskyi, thanks for the answer, I should have probably tried to see first if the router would free the RAM or not 😅 I'm happy to know that this has nothing to do with the addon, hopefully, it's something that will be addressed at the firmware level.

(BTW, I really love the work you did)

[2022-08-15 14:14] #187 closed

[2022-08-18 04:38] LostOnTheLine opened #188 "[Feature] Graphical Display of Traffic/CPU/RAM like the WebUI"
### The problem

I got this with the hope that I'd be able to have an actual display of the traffic usage & CPU/RAM like on the WebUI since the details say

But none of the available sensors seem to give me the data needed to do that.
Ideally a chart like this would be nice
![Asus AC68U Traffic](https://user-images.githubusercontent.com/60684934/185291475-5b2a3b82-418e-407e-a249-b65deaa18ba9.jpg)

[2022-08-21 17:28] Vaskivskyi commented on #188
Hello, @LostOnTheLine,

Thank you for your feedback! 👍🏻

First of all, the AsusRouter integration provides sensors (data of different sorts) and controls (switches), not the GUI for the cards. You can create cards in the frontend using default HA or custom cards installed from HACS.

About the sensors:

1. CPU. The `sensor.{device_name}_cpu` provides the CPU usage (in %) exactly the same way, as t

[2022-08-22 19:26] Vaskivskyi commented on #186
Hey, @fi6,

Did you try AsusRouter integration with your GT-AX6000? Does it work well or does it have any bugs? In the first case, please write it here - I will add the device to the supported list. In the last case, please open a [bug report](https://github.com/Vaskivskyi/ha-asusrouter/issues/new/choose), so I can solve any issues.

I will close this issue, but you will still be able to reopen it

[2022-08-22 19:26] #186 closed

[2022-08-22 19:30] Vaskivskyi commented on #185
Hey, @milandzuris,

Have you tried enabling all the device trackers which are disabled by default in HA? Do you see all the connected devices in this case?

[2022-08-23 13:59] milandzuris commented on #185
yes and working

[2022-08-23 14:02] milandzuris opened #189 "[Feature] Split sensors update intervals"
### The problem

Make for every category or sensor update interval, i need for tracker update interval 1 second and for ram 30second, the fact that I had it set to 1 second my database increased by 20 GB this is big problem, and bigger for sd and rpi.

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-08-23 16:08] Vaskivskyi commented on #185
In this case, since everything is working, I am closing this issue. If you experience any other problem, feel free to open [a new issue](https://github.com/Vaskivskyi/ha-asusrouter/issues/new/choose)

[2022-08-23 16:08] #185 closed

[2022-08-23 16:35] Vaskivskyi commented on #189
Hello, @milandzuris,

I will check the possibility to split sensor update intervals for different sensors and will let you know whether it can be implemented.

But, in general, I do not recommend polling your router more regularly than with 5 seconds step.

[2022-08-24 17:49] roc634 opened #190 "[Bug] Some devices shown in the router page are not in the entities list"
### The problem

Hi Vaskivskyi, thank you for creating such a powerful integration. It provides more features than the ASUSWRT integration. However, I can't see some of my devices in the entities list, which are very important to me. I used the ASUSWRT integration last year and it worked like a charm until I upgraded Home Assistant to a new version beginning with 2022. The devices I want to track

[2022-08-24 19:44] Vaskivskyi commented on #190
Hello, @roc634,

Thanks for your feedback! 👍🏻

Let's try to determine whether this is only a `device_tracker` problem or an API problem.

Does the `sensor.{device_name}_connected_devices` show the correct number of connected devices? It has also the attribute `devices`, which is the complete list of `MAC/IP/Hostname` values. Are your missing devices listed there, when you can see them in the WebUI

[2022-08-25 02:42] roc634 commented on #190
Thanks for your prompt reply , @Vaskivskyi .
After posting my question here, I tried the nmap mathod. This morning when I use treadmill, namp can detect it while ha-asusrouter can't. Please see the screenshot below.
Nmap gets 18 devices:
<img width="222" alt="2022-8-25 10-32-34" src="https://user-images.githubusercontent.com/49619054/186561528-d362105a-66ef-4412-b2a8-3689490b2c23.png">
while ha-as

[2022-08-25 05:45] Vaskivskyi commented on #190
For me, NMAP is always showing something random (lots of devices are missing in comparison to the router report).

Could you please compare `sensor.{device_name}_connected_devices` to the client list in the AsusWRT web panel? Is it smaller? On your first screenshot, there were both devices marked. If they are not reported by the integration in HA, `connected devices` should be smaller.
![image](ht

[2022-08-25 08:27] roc634 commented on #190
Thanks for your help. The number of clients will change since some of my neighbours and friends connect to my router and my family members will turn on and off some devices. However, as you suggest, I find two lines of error message in the log, please see below:
`2022-08-25 15:48:21 WARNING (MainThread) [homeassistant.config_entries] Config entry '192.168.2.1' for asusrouter integration not ready

[2022-08-25 11:00] Vaskivskyi commented on #190
The first one is fine - it is just a notification, that something went wrong during the connection to the router.

The second one should be related to the problem. But with the reported error, you should not get any data from the client list. So your HA `device_tracker`s, as well as the `connected_devices` sensor, should not update at all.

Does this error show up regularly? I would guess, no, but

[2022-08-25 14:09] roc634 commented on #190
Thank you very much for your patience.
I'm not sure if this error show up regularly or not. I didn't check the log before until you reminded me of this. I used the offcial asuswrt integration until this year and it worked fine. I updated Home Assistant to some version beginning with 2022 this year and suddenly I noticed that device tracker didn't work for some devices. And then I found your integr

[2022-08-26 21:23] Vaskivskyi commented on #50
Unfortunately, I have not found anything that I could do from the integration point of view. As I have mentioned, all the dependencies installations are handled by HA directly and do not depend on the integration itself.

Sorry for not being able to help you. I will close the issue as one that cannot be solved.

[2022-08-26 21:23] #50 closed

[2022-08-26 21:26] Vaskivskyi commented on #30
Unfortunately, this issue cannot be solved from the integration point of view. If a device is not reporting some data in the API endpoints, the only way to troubleshoot it will be to get direct access to the device for tests. Other devices of the same models and/or firmware versions are working well.

In case this issue happens to any other user and device, I suggest updating the firmware to the l

[2022-08-26 21:26] #30 closed

[2022-08-27 07:58] Vaskivskyi commented on #188
Since all the requested sensors and data are already in the integration, I am closing this issue.

Generation of a UI similar to Asus WebUI is not the purpose of this integration. For that, you should consider custom (or in-build) frontend dashboards.

If you will experiencing any problems with the integration, feel free to open [a new issue](https://github.com/Vaskivskyi/ha-asusrouter/issues/new/

[2022-08-27 07:58] #188 closed

[2022-08-28 01:48] wallacemreis opened #203 "[Feature] Add attribute in device tracker "connected_in" (Node in Aimesh)"
### The problem

Is it possible to add an attribute in device_tracker that shows which node (Aimesh) the device is connected ?

This would help a lot in bayesian sensors for presence detection or device balancing

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-08-28 10:16] Vaskivskyi commented on #203
Hello, @wallacemreis,

Thanks for your feedback! 👍🏻

The full AiMesh functionality is planned for the integration. Unfortunately, I still don't have a second device for all the needed tests, so I cannot yet guarantee any timeframe. But it will be implemented. I'll check if a node attribute for the device_tracker can be implemented sooner.

[2022-08-28 12:34] Vaskivskyi commented on #184
Just letting you know, that work is still in progress, I didn't forget about this bug 🙂 . It has happened only twice on my device, so debugging the case is a bit painful and time-consuming

[2022-08-29 17:42] Vaskivskyi commented on #184
Hey, @rkkoszewski,

I think you would like version 0.8.0 - no more `server disconnected` errors. And no sensors should be stuck.

[2022-08-29 17:44] Vaskivskyi commented on #160
Hello, @tintin814,

Do you mind checking the new version 0.8.0? I am curious if your device will still experience any problems

[2022-08-29 18:06] rkkoszewski commented on #184
Thank you so much @Vaskivskyi for finding and fixing the issue. This is really amazing news!! I'll test it out as soon as I'm back home!

[2022-08-30 07:56] Wyman42 opened #212 "integration"
### The problem

Hello, I installed this integration via HACS (on HA OS and Raspberry pi3).
The installation is OK when I search for "AsusRouteur" via the additional modules of HA, I only find the native integration AsusWRT ?

### Your device model

RT-AC52U B1

### Firmware type

Stock

### Firmware version

3.0.0.4.380

### Integration version with the issue

0.8.0

### Method of the integration

[2022-08-30 08:24] Vaskivskyi commented on #212
Hello,

After installing the integration, did you restart your Home Assistant? This is required for the HA to discover new integration

[2022-08-30 08:46] Wyman42 commented on #212
Yes...

[2022-08-30 08:52] Wyman42 commented on #212
After uninstall a unless integration and another reboot, it's OK I have AsusRouteur.
Thanks for your time.

[2022-08-30 08:52] #212 closed

[2022-08-31 06:43] nchieffo opened #213 "[Feature] enable and disable guest networks"
### The problem

Would be good to have a switch to enable and disable the 6 guest networks that can be configured in the router

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-08-31 06:46] Vaskivskyi commented on #213
Hello, @nchieffo,

Thanks for your feedback! 👍🏻

This feature is already planned for integration and will be coming in one of the future releases. Let's say somewhere in September (since there are also some new features and bugs with higher priority).

[2022-08-31 09:42] tintin814 commented on #160
Hello @Vaskivskyi , I replaced my R7000 router with a new one for better performance.  R7000 was discharged. Sorry can't help.

[2022-08-31 11:14] Vaskivskyi commented on #160
Of course, it's not a problem. I will close the issue since it cannot be tested with the new version by either of us.

[2022-08-31 11:14] #160 closed

[2022-09-01 18:50] tismofied opened #214 "[Bug] this integration does not support configuration via UI error"
### The problem

Running HA on proxmox. I had this integration before but I have had to delete to test something. Now I want to install it back and I keep getting this error

### Your device model

RT-ACRH17

### Firmware type

Stock

### Firmware version

3.0.0.4.382.52517

### Integration version with the issue

0.8

### Method of the integration installation

HACS

### What version and type of

[2022-09-01 21:18] milandzuris opened #215 "question"
### The problem

whats the wired and bridge trafic monitor?, lan trafic?

### Your device model

*************

### Firmware type

Stock

### Firmware version

**************

### Integration version with the issue

***********

### Method of the integration installation

HACS

### What version and type of Home Assistant installation do you use

*********

### Is there anything useful in the logs?

[2022-09-01 22:03] milandzuris opened #216 "[Bug] RAM leak"
### The problem

my HA ram before instaled your integration they have 60-65% ram usage, after instaled integration my HA ram usage is 85-95%, and crash HA, im try set time update to 30-60 and more don't solve my problem, optimize integration please, this integration so good and have one problem.

today my HA crash 15 times when im delete integration ha working on 100%

### Your device model

RT-AC

[2022-09-02 02:14] tismofied commented on #214
I rolled back and it worked

[2022-09-02 05:37] Vaskivskyi commented on #214
Hello, @tismofied,

Nothing has been changed in the integration configuration flow between versions 0.7.0 and 0.8.0, as you can check in the [commits history](https://github.com/Vaskivskyi/ha-asusrouter/commits/main).

Was there anything in the logs when you have seen the message on the snapshot in your issue? With such an error, it is not just a problem for loading the configuration flow (that on

[2022-09-02 06:08] Vaskivskyi commented on #215
Hello, @milandzuris,

`Wired` traffic is all the traffic passed over the physical ports of the device.

`Bridge` traffic is all the traffic over the device's local network (LAN).

[2022-09-02 06:22] Vaskivskyi commented on #216
Hello, @milandzuris,

Could you please specify the following:

- Version of integration with a problem
- Did this start with the last version of the integration? Did it work well before?
- Version and type of installation of your HA
- What hardware do you use and how do you monitor RAM usage

- What configurations of the integration are you using?
- How regularly do you poll the sensors? This is t

[2022-09-02 12:13] tismofied commented on #214
I'll do a backup and update to 0.8 and try again.

[2022-09-02 19:44] tismofied opened #217 "[Device support]"
### Anything you want to mention?

**### Attributes the integration pulled!**

**Sensors:**

2.4Ghz Download Speed
5Ghz Download Speed
RT-AC82U BRIDGE Download
RT-AC82U BRIDGE Download Speed
RT-AC82U BRIDGE Upload
RT-AC82U BRIDGE Upload Speed
WIRED Download
WIRED Download Speed
WIRED Upload
WIRED Upload Speed
WLAN0 Download
WLAN0 Upload
WLAN0 Upload Speed
WLAN1 Download
WLAN1 Upload
WLAN1 Upload S

[2022-09-03 08:15] Vaskivskyi commented on #217
Hello, @tismofied,

Thank you for your feedback! 👍🏻

As I see, you don't have LED control (which is probably due to firmware 382 limitation). Is any other sensor missing from what you would expect? Don't you have WAN speed and traffic sensors (WAN Upload, WAN Download, WAN Upload Speed and WAN Download Speed) or you just didn't select the WAN interface for monitoring?

With model names, it happens

[2022-09-04 11:21] Vaskivskyi commented on #215
I suppose, your question was solved? In this case, I will close the issue. Feel free to reopen it or open a new one if you have any more questions or experience any problem with the integration.

[2022-09-04 11:21] #215 closed

[2022-09-04 11:22] Vaskivskyi commented on #184
Hello, @rkkoszewski,

Did you have a chance to test the new version? Does it work now as you would expect?

[2022-09-04 11:45] rkkoszewski commented on #184
Sorry I'm currently on vacations for a month. I updated the extension and have seen no issues so far, but given that I'm currently not at home I cannot test it in depth.

I'm closing the bug as it seems to have been mitigated. If I see the issue still occuring in the future, I'll reopen the bug and add some fresh logs to it.

Thank you for looking into and fixing the issue @Vaskivskyi !!

I hope t

[2022-09-04 11:45] #184 closed

[2022-09-04 14:19] Vaskivskyi commented on #190
Hello, @roc634,

### Read this the first -->
When running the code, the RAW answer of your device might contain the MAC and IP (local) addresses of your devices. Please check it before posting anything from the output here as an answer. It is a good idea not to post those 🙂 **<-- Read this the first**

### Answer
Sorry for the delay. Could you please try running this Python script from any python

[2022-09-05 02:03] ToasterDEV opened #218 "[Device support] GT-AX11000"
### Anything you want to mention?

So far when trying to configure the router both via IP and hostname with or without SSL I get stuck at the "Connection Refused" step. I'm trying to add both this model and my RT-AX86U, which the latter so far functions perfectly while using the same firmware version.

### Your device model

GT-AX11000

### Firmware type

Merlin

### Firmware version

386.7_2

###

[2022-09-05 02:54] roc634 commented on #190
Wow, thank you so much for writing a specific tool for me. But I'm under quarantine now. Hopefully I can go home within 2 or 3 days. I'll get back to you again. Sorry for the inconvenience.

[2022-09-05 05:01] Vaskivskyi commented on #218
Hello, @ToasterDEV,

Thanks for your feedback! :+1:

When you are getting a `Connection refused` error on the simplified setup on the initial configuration of the integration, you are redirected to the [full setup mode](https://github.com/Vaskivskyi/ha-asusrouter/blob/main/docs/setup.md#2b-complete-device-setup).

At this step, you can enter some more values, including the `port` manually, if you

[2022-09-05 21:53] ToasterDEV commented on #218
Hello @Vaskivskyi,

Oddly enough I just retried the setup today and it went through without a problem, even while still using full setup mode and changing the SSL port to 443. Now both devices are working with all of the available sensors.

I'm not sure what changed between yesterday and today, though I have a suspicion it might have something to do with having recently logged in yesterday to the

[2022-09-05 21:53] #218 closed

[2022-09-06 15:51] Vaskivskyi commented on #217
The device will be added to the supported list in PR #219 with a remark of a wrong model reporting in HA and LED control not being available. If you have any other comments, you can post them here. If you want to report any problem running the integration, please open a new issue.

[2022-09-06 15:52] #217 closed

[2022-09-06 17:15] tismofied commented on #217
I don't know why WAN is not exposed from my router. These are the snaps of configuration I get.![image](https://user-images.githubusercontent.com/90809124/188698713-3037135b-bba1-43be-8609-a538fde8fcd7.png)

![image](https://user-images.githubusercontent.com/90809124/188698804-85aa9529-5e9e-43ca-a129-fefbfe1708ff.png)

![image](https://user-images.githubusercontent.com/90809124/188698825-85096532-

[2022-09-06 20:33] Vaskivskyi commented on #217
In the router web panel, you can try going to the Traffic monitor page (Fig. 1).

<details>
<summary>Fig. 1</summary>

![image](https://user-images.githubusercontent.com/6554415/188731565-071b2da5-8451-4b6c-b618-161a1c4c6c30.png)
</details>

After that press F12 to open the Developer tools of your browser. Find a tab called Network (which might vary depending on your browser). You will see all the

[2022-09-06 20:36] Vaskivskyi commented on #147
Hello,

Did you try any of the newer versions of the integration (0.8.0 would be the best, as the latest one)? Do you still have this bug with the boot time?

[2022-09-06 20:37] Vaskivskyi commented on #120
This is an FW-related issue, not integration related. Since it cannot be fixed from my side, it will be closed.

[2022-09-06 20:37] #120 closed

[2022-09-07 04:35] Vaskivskyi commented on #217
Yes, in AP mode, WAN monitoring does not work the way it works for the router mode

[2022-09-07 10:35] sezlony commented on #147
HACS doesn't indicate any new versions for me, I assume it's because I'm stuck on core version 2022.4.0... :(

However it would be great to know if the issues are gone, but I don't feel the urge the update HA as everything else works fine.

[2022-09-07 10:56] Vaskivskyi commented on #147
Oh, yes. Unfortunately, version 0.6.0+ of AsusRouter requires HA 2022.5+. That is because of some deprecated HA constants, which should not be used anymore starting from this HA version, and are changed to the new ones (used in the integration from 0.6.0 on).

Backward compatibility is not working really well for custom components with Home Assistant's love for changing things each release.

If yo

[2022-09-07 13:57] sezlony commented on #147
well... I just couldn't fight against my curiosity and updated everything to the latest version

sadly this integration still has this visual problem, although I should wait longer to let things settle

[2022-09-07 17:57] ehendrix23 opened #220 "Upload/download sensors for devices and apps"
### The problem

Would it be possible to have upload/download sensors for individual devices and/or apps similar as what Traffic Analyzer shows?

I checked and so far found:

```/getWanTraffic.asp?client=all&mode=hour&dura=24&date=<UNIX Epoch Timestamp>&_=<UNIX Epoch Timestamp>``` retrieves upload/download for all devices per hour for 24 hours (with epoch time being end timestamp) for all clients.

[2022-09-08 05:33] Vaskivskyi commented on #220
Hello, @ehendrix23,

Thanks for your feedback and for the collected data! :+1:

Yes. This would be possible. There are already plans to add per-device controls to the integration and this can be one of its features.

[2022-09-08 05:35] Vaskivskyi commented on #147
Ok. I will prepare some python code which you may try to test with your device and let you know. Thanks for the updated info! :+1:

[2022-09-11 16:34] bernardovalente opened #221 "[Bug] Allways home"
### The problem

Hi,

I really appreciate the work you've done with this integration.

It seems that for me none of the device_trackers are updating its status, the state remains at home at all times, no matter if connected do wifi or not, even when the integration is reloaded or the system rebooted. I don't think there's nothing in the core logs that's related to this integration and I'm not real

[2022-09-13 05:31] Vaskivskyi commented on #221
Hello, @bernardovalente,

Thanks for your feedback! 👍🏻

I am sorry, that the integration does not work well for you.

Could you please check whether the `sensor.{devicename}_connected_devices` is showing the correct number of connected devices? Does it update or is it also stuck as well as device trackers?
- Just turn WiFi off / on for some mobile device - that would be the fastest method to check

[2022-09-13 08:39] bernardovalente commented on #221
Thanks for the response.

So the `sensor.{devicename}_connected_devices` is also stuck at fixed number not matching to the actual number of connected devices neither does. To tey and fix I changed the time constraints, reloaded the integration but the change in state is still not detected in HA. A removal/install of the integration also didn't work.

Forgot to say that other sensors like dw/up spe

[2022-09-13 08:51] sepodele opened #222 "[Feature] Add check for available firmware"
### The problem

Can you add a diagnostic update entity that checks for new firmware available?

[2022-09-13 11:16] sezlony commented on #147
big respect sir 🙌

[2022-09-14 22:22] LouPaloma opened #223 "[Bug] Unable to get information: Maximum recusion depth"
### The problem

This issue appears and prevents any data (except temperatures?) from being displayed.  There are no issues with the router UI, although the supplied asuswrt integration would also sometimes fail (which is why I switched) with something like:

`
[homeassistant.components.asuswrt.router] Unexpected error fetching sensors_rates data: '<' not supported between instances of 'NoneType'

[2022-09-15 05:39] Vaskivskyi commented on #222
Hello, @sepodele,

Thanks for your feedback! :+1:

This feature is possible and I will add it to the `to-do` list. Unfortunately, I cannot yet guarantee the exact timeframe to implement it.

[2022-09-15 05:58] Vaskivskyi commented on #223
Hello, @LouPaloma,

Thanks for your feedback! 👍🏻

I am sorry, that the integration does not work well for you. So none of the sensors, except for temperatures is working? What about device trackers?

The RecursionError in your log is a result of not being able to get a response from the device. In this case, the library for communications tries to repeat requests. Of course, in principle, it might

[2022-09-15 18:27] LouPaloma commented on #223
Thanks.  Debug has been turned on.

I did notice that an update needed to be applied via HA reboot.  I have been running for 24+ hours now without an issue.  Perhaps there was a conflict.

I will monitor for 7 days and close this if I do not see any more issues by then.  Otherwise, I'll post debug log information.

BTW:  is there a way to turn on additional diagnostic information?

[2022-09-16 11:03] sepodele opened #224 "[Feature] Enabling/disabling OpenVPN server?"
### The problem

Possible to make a switch that enables/disables OpenVPN server? That would be really neat.

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-09-17 11:50] Vaskivskyi commented on #224
Hello, @sepodele,

Thanks for your feedback! :+1:

This feature is possible. I will add it to the list of future improvements.

[2022-09-19 22:40] bernardovalente commented on #221
It seems that a couple of error popped on the logs that might help diagnose

_This error originated from a custom integration.

Logger: homeassistant
Source: custom_components/asusrouter/bridge.py:139
Integration: ASUS Router (documentation, issues)
First occurred: 11:19:47 (1 occurrences)
Last logged: 11:19:47

Error doing job: Task exception was never retrieved
Traceback (most recent call last):

[2022-09-19 22:48] bernardovalente commented on #221
Hi
`This error originated from a custom integration.

Logger: custom_components.asusrouter.router
Source: helpers/update_coordinator.py:151
Integration: ASUS Router (documentation, issues)
First occurred: 11:19:47 (3 occurrences)
Last logged: 11:19:47

Error fetching vpn data: [Errno 104] Connection reset by peer
Error fetching wan data: [Errno 104] Connection reset by peer
Error fetching wlan dat

[2022-09-21 05:38] Vaskivskyi commented on #221
Hello,

Sorry for the delay. I wanted to let you know, that I am still working on this issue.

It seems like this problem is reproducible in several cases on different device types, but I was not yet able to find anything in common. I will let you know about the progress or if I will need some more information.

[2022-09-21 06:58] bernardovalente commented on #221
No worries. To add to the troubleshooting, while I was updating and messing with unrelated device and network configs, the integration seemed to started to update the device tracker's state and connected devices list but with a delay of hours on the list, still haven't timed the devices tracker update time.

Thank you

[2022-09-23 09:05] qiusj opened #226 "[Bug] Connection reset by peer"
### The problem

When http service on router is restart, the component can not re-connect web server.
After reload the component, all entities are unavalibe.

### Your device model

ZenWiFi AX Mini (XD4)

### Firmware type

Stock

### Firmware version

3.0.0.4.386_49599

### Integration version with the issue

0.8.0

### Method of the integration installation

HACS

### What version and type of Ho

[2022-09-29 07:34] Vaskivskyi commented on #226
Hello, @qiusj,

Thank you for your feedback! 👍🏻

It is surprising, that the integration cannot reconnect after the HTTP server is restarted. I'll check it out and let you know if any more information is needed from your side.

[2022-09-29 07:39] Vaskivskyi commented on #216
Hello,

Unfortunately, without the information I have asked for, I cannot help you with the issue. RAM leak was never reported before by other users and I have never observed it yet.

If you would like to add any more information, that would help with diagnosing and solving the issue, feel free to reopen this issue.

[2022-09-29 07:39] #216 closed

[2022-09-29 07:41] Vaskivskyi commented on #214
Hello, @tismofied,

Do you have any updates on the issue? Did you have a chance to check whether there are any errors in the log?

[2022-09-29 07:46] Vaskivskyi commented on #223
Hello,

Did you experience such an issue again? If not, that might really be just a coincidence.

What kind of additional diagnostic information you are interested in? AsusRouter is still under work to make it as usable and as stable as possible, so I am open to any suggestions which might help.

[2022-09-29 11:34] tismofied commented on #214
I don't know what happened then but removed everything from hacks and from integrations and restarted the host. Everything came back online. Funny thing is Paulus himself got an error like mine in his Bluetooth _proxy stream with a different integration and he looked confused lol. Anyways, your inouïs running flawless now with 2 Asus routers. Rt-ACRh17 as an AP and RT-N66U ( running latest support

[2022-10-02 19:03] Vaskivskyi commented on #214
Can you please compare these values to the ones you see in the Asus Web UI for real-time traffic? Having low enough speeds when devices are not actively communicating is completely fine, but as soon as you try transferring data, you should see relatively high peaks.

[2022-10-02 20:01] Vaskivskyi commented on #226
Please, check the new version 0.8.1, which is already available through HACS. The "Connection reset by peer" problem should now be solved.

[2022-10-02 20:02] Vaskivskyi commented on #221
Please, check the new version 0.8.1, which is already available through HACS. The "Connection reset by peer" problem should now be solved.

We'll see, whether this helped with the device trackers issue as well.

[2022-10-03 09:31] bernardovalente commented on #221
Hi, thanks for the update.

It seems that some issues still remain, updated to lastest version and the different entities were updating within the established time constraint but a few hours later an error popped and the device trackers and connected list are no longer updating.

[code]

[2022-10-04 05:54] Vaskivskyi commented on #221
Ok. New error, even though similar. Will continue to work on this

[2022-10-04 23:00] pumpan commented on #221
i had the same problem, i got it fixed when i 1. removed the integration, 2. restarted home assistant 3. installed again 4. restarted again.

[2022-10-05 08:47] RealGandy opened #230 "[Bug] Getting large number of similar messages in the log"
### The problem

I am getting a significant number of these messages in the home assistant log file, for different endpoints

2022-10-05 08:27:09.578 WARNING (MainThread) [asusrouter.connection] Disconnected by the device while quering 'ajax_vpn_status.asp' with payload ''. Everything should recover by itself. If this warning appears regularly, you might need to decrease the number of simultaneous

[2022-10-05 16:50] Vaskivskyi commented on #230
Hello, @RealGandy,

Thank you for your feedback! 👍🏻

Simultaneous connections can appear in 2 cases:

1. Inside the integration. If you have set the `interval to update entities` too low (e.g. 2 seconds only), some requests might still not be finished when new ones are made.
2. If you have the Asus app running on your mobile device in the background. Those can be updating data quite regularly. As

[2022-10-05 16:53] Vaskivskyi commented on #221
Hey @pumpan,

Thanks for your feedback! :+1:

Unfortunately, this might be only a temporary solution. The `connection reset by peer` is device-related, not integration-related. This is great, it has solved the problem for you. But, maybe, it was a happy coincidence.

[2022-10-05 21:04] RealGandy commented on #230
Thanks for your prompt response. I’ll change the update interval and see how it goes

[2022-10-05 21:04] #230 closed

[2022-10-06 18:53] LouPaloma commented on #223
This looks to be working now.  I suspect it was the version conflict.

[2022-10-06 18:53] #223 closed

[2022-10-08 07:47] Roei639 opened #238 "[Bug] Sensors are not updated after restarting the router"
### The problem

After restarting the router sensors are not updated for example: wan ip, wan, ram, cpu, temperature, wan speed, lan speed and more.
Only reloading for integration or restarting Home Assistant helps.

### Your device model

RT-AX56U

### Firmware type

Merlin

### Firmware version

386.7_2

### Integration version with the issue

0.8.2

### Method of the integration installation

H

[2022-10-08 07:57] Vaskivskyi commented on #238
Hello, @Roei639,

Thanks for your feedback! 👍🏻

Does the Home Assistant log show any errors or warnings in this case? Do all the sensors stop updating or only some of them?

[2022-10-08 08:03] Roei639 commented on #238
All sensors stop updating.
Log Home Assistant:
Error fetching ram data: ('Usage cannot be negative, used = -76662.0', None)

[2022-10-08 08:04] Roei639 commented on #238
Sometimes only the cpu temperature sensor keeps updating.

[2022-10-08 08:41] Vaskivskyi commented on #238
That's interesting, how API can report `-76 MB` of used RAM. I'll look into this.

Anything else? You might need to open the full log and check whether there are more messages
![image](https://user-images.githubusercontent.com/6554415/194698502-050671b0-590a-4e13-a328-7bf27c55166d.png)

The ones you are looking for have `asusrouter`, so it should be easy to use the search function

[2022-10-08 08:59] Roei639 commented on #238
I am trying to reproduce the problem to send full logs.  Sometimes it's okay.

[2022-10-09 06:10] qiusj commented on #226
It's OK now. thanks.

[2022-10-09 06:10] #226 closed

[2022-10-10 13:03] bernardovalente commented on #221
After updating to 2022.10.x there are no errors popping up and all the devices and sensors seem to be working with no problems. Really thankfull of your work and community support. Feel free to close this.

Cheers!

[2022-10-10 14:16] Vaskivskyi commented on #221
Ok, great. It seems this was one of those HA-related problems. Still don't understand, how this is happening for different users with different integration, that something just stops working and then fixes itself.

If you experience any other bugs, please open a new issue.

[2022-10-10 14:16] #221 closed

[2022-10-11 17:07] jacquesvzijp commented on #146
That would be a great feature, blocking (and unblocking of course), to make some smarter screentime for the kids playstation and so... Thanks for the great work!

[2022-10-11 19:01] Vaskivskyi commented on #189
PR #240 implements this feature and will close this issue. The feature will be available with the next release.

[2022-10-11 19:05] #189 closed

[2022-10-13 15:22] scetu opened #242 "[Bug] Integration going inresponsive after some time"
### The problem

I have been using integration for few weeks, and noticed that it becomes unresponsive after some time (days) and Reloading integration from HA leads to errors in error log `ValueError: Config entry was never loaded!` I've spotted this mainly because device_tracker entities has not been updated.
I've tried to increase scan interval to 30 seconds from default 10 seconds, but it happ

[2022-10-14 14:41] Vaskivskyi commented on #242
Hello, @scetu,

I am sorry, that the integration does not work well for you.

The exception you see when trying to reload the integration is because it has already crashed and HA cannot "stop" it properly, before starting again.

Can you check what the log shows when sensors stop updating?

[2022-10-14 18:30] Vaskivskyi commented on #242
I suppose that `Auto Logout` only matters when no actions are taken, but the integration sends requests regularly. Also, the integration behaves more like the Asus app for phones, rather than the usual web login.

At least, my AX88U has the default 30 minutes set and it was never a problem. But let's see when and how this will happen to your device next time

[2022-10-15 06:52] Roei639 commented on #238
A new problem after several days without restarting home assistant the sensors stop updating.
A log file is attached
[_HomeAssistant_logs.txt](https://github.com/Vaskivskyi/ha-asusrouter/files/9791347/_HomeAssistant_logs.txt)

[2022-10-15 06:57] Vaskivskyi commented on #238
Hey, @Roei639,

The error from your log is related to a bug from PR #243 and should be fixed with the next release 0.9.0 (which will be released in an hour or so)

[2022-10-15 06:59] Roei639 commented on #238
Has the problem of updating the sensors after restarting the router also been fixed?

Thank you

[2022-10-15 07:21] Vaskivskyi commented on #238
No, unfortunately, I was not yet able to reproduce the original bug you had after rebooting the router. This is still work in progress

[2022-10-15 08:15] Roei639 commented on #238
The original problem continues even after updating to 0.9.0.  I restarted the router and the sensors in Home assistant stopped updating after the router restarted.
A recent log is attached
[_HomeAssistant_logs.txt](https://github.com/Vaskivskyi/ha-asusrouter/files/9791543/_HomeAssistant_logs.txt)

[2022-10-15 15:00] Vaskivskyi commented on #242
Hello, @scetu,

Is this still with version 0.8.2 of the integration? Can you check whether this problem occurs with the new version 0.9.0 released today? There was a fix implemented that should help with the top error (where you have `Error doing job: Task exception was never retrieved`)

With the bottom one, in principle, HA should be able to handle and recover sensor updates. But we need to go s

[2022-10-16 12:47] Vaskivskyi commented on #238
Thanks for the new logs!

Unfortunately, this seems to be a part of a larger problem - somewhy sensors stop updating states, even though the corresponding coordinators recover with the next polling of data.

The error you see in the log is not the problem itself - this is an exception, raised by the library behind the integration. Even though I can just change this behaviour of the library, this w

[2022-10-16 12:55] #214 closed

[2022-10-16 13:02] tismofied commented on #214
Sorry I had some stuff going on and I totally forgot about this.

[2022-10-16 13:50] neuroverflow commented on #242
Hi! I'm not gonna add any additional detail but I have the exact same issue and logs. Just to let you know it's not an isolated problem.
Thank you for your hard work!

Home Assistant 2022.10.4
Supervisor 2022.10.0
Operating System 9.2

[2022-10-17 15:19] snp88 opened #255 "[Bug] Wireless password as attribute"
### The problem

Hi I notice that Wireless sensors for this integration show Wireless password in plain text as entity attribute
Is such an action intentional?
Displaying the wireless network password is not the best idea
We can make it as an option ?

### Your device model

RT-AX92U

### Firmware type

Stock

### Firmware version

3.0.0.4.386_46061-g9a06866

### Integration version with the issue

[2022-10-17 15:52] Vaskivskyi commented on #255
Hello, @snp88,

Thank you for your feedback! :+1:

The integration in this case mimics the official Asus app for phones. Passwords are only shown inside HA and are not exported in the diagnostics (as well as any other sensitive information).

In principle, I would consider the HA instance as already secure enough to not worry about WiFi passwords.

But of course, if you suppose your HA can be used

[2022-10-17 23:36] poida97 opened #258 "Ability to enable/disable internet access for specific clients"
### The problem

Per comment at :
https://community.home-assistant.io/t/custom-component-asusrouter-integration/416111/69

It would be great if we had the ability to control (on/off) internet access for certain clients.
Objective is to have HA manage "smarter" daily internet limits for the kids devices.

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-10-17 23:37] poida97 commented on #258
maybe similar to #146

[2022-10-18 06:06] Vaskivskyi commented on #258
Hello, @poida97,

Thanks for your feedback! :+1:

Yes, this feature is the same as suggested in #146 and is already in development.

[2022-10-18 20:00] Salvora opened #259 "[Device support] Asus RT-AC5300"
### Anything you want to mention?

Works with no visible problem.

### Your device model

RT-AC5300

### Firmware type

Merlin

### Firmware version

386.7_2

### Does everything work well?

Yes

[2022-10-18 20:18] Vaskivskyi commented on #259
Hello, @Salvora,

Thank you for your feedback! :+1:

I am glad, the integration works well for your device. PR #260 will add it to the supported devices list and close this issue.

[2022-10-18 20:20] #259 closed

[2022-10-18 20:47] Salvora opened #261 "[Bug] Aimesh node issue (Tracking the node status)"
### The problem

Basically, I want to be notified when a node goes down and show this on the frontend. I have partially managed to get this working on the HA Asus integration though it is not very reliable. So, I wanted to switch over this custom integration which I find surprisingly well made. Kudos for that. Thanks for your work.

I will briefly mention the HA integration. When nodes are in ethe

[2022-10-19 16:33] Vaskivskyi commented on #261
Hello, @Salvora,

Thanks for your feedback! :+1:

Unfortunately, I don't have any possibility of implementing AiMesh support yet - for that, I would require an additional device with AiMesh to perform all the needed tests.

But as soon as I have such a possibility, I will start implementing the AiMesh functionality. Of course, I will consider your suggestions as well. And I will add this issue as

[2022-10-19 19:26] Vaskivskyi commented on #238
Hey,

Seems, I have localized the problem. It should be fixed soon.

[2022-10-19 19:28] Roei639 commented on #238
Waiting for an update, thank you

[2022-10-20 08:39] Vaskivskyi commented on #238
Hello,

Version 0.9.2 of the integration is already available through HACS. It should fix sensors being stuck after receiving errors. Can you try it out?

[2022-10-20 08:41] Vaskivskyi commented on #242
Hello,

Version 0.9.2 of the integration is already available through HACS. It should fix sensors being stuck after receiving errors. As a result, the integration should not be stuck anymore in a state, from which it cannot be reloaded (so should in principle fix that `Config entry was never loaded!` error). Can you try it out?

[2022-10-20 08:43] Roei639 commented on #238
Yes

[2022-10-20 09:21] Roei639 commented on #238
I have done the update, I will follow the problem and update

[2022-10-21 14:21] jazzyisj opened #269 "[Bug] Device tracker states not updating"
### The problem

Device tracker states don't seem to be updating.  These are the device trackers for the phones in the home.  Both of these phones have left the house several times the last couple of days but they never update to not_home.

Rebooting the router causes the device trackers to update to the correct state, but they do not update again after this.  Other sensors (cpu temp, memory etc)

[2022-10-21 15:46] Vaskivskyi commented on #269
Hello, @jazzyisj,

Thanks for your feedback! :+1: And sorry, that something is not working well for you.

Can you please check the following:
- Does rebooting of integration also update device trackers or should all the HA be restarted for this?
- Do they stuck only in the `home` state? For e.g. after reboot do all the sensors update once and get stuck or do `not home` sensors also update to a `ho

[2022-10-22 08:07] Vaskivskyi commented on #242
Hey @scetu,

Thanks for the update on the issue! :+1: It's great, the problem is fixed now.

Yes, it does not prevent your device from answering with an error (and in this case, your sensor(s) won't update until the correct data is received), but now neither of the sensors should be stuck.

Since the issue seems to be resolved, I will close it. If you will experience any other problems with the in

[2022-10-22 09:05] neuroverflow commented on #242
I was losing the sensors quite quickly, 4-6h. So far after a day it seems stable!
I can remove the integrated asus integration and use yours instead! Great job!

[2022-10-22 16:34] Vaskivskyi commented on #255
![image](https://user-images.githubusercontent.com/6554415/197348742-57ca2e3a-e8e7-4444-a081-361efe012f5a.png)

PR #271 is implementing a switch to hide passwords (do not add such attributes at all) from any sensors. When merged, the PR will close this issue.

The change will be released with the next AsusRouter version (planned in the following two days)

[2022-10-22 16:37] #255 closed

[2022-10-22 16:42] snp88 commented on #255
Great job thx can't wait for this update ;)

[2022-10-23 00:04] ostracizado commented on #220
Hey, @Vaskivskyi - thanks for the work! 👍

Any news about this implementation?
Would be a great plus; every time the HA starts backing up and I don't have to go the router's menus to check what's going on...  🕵️

[2022-10-23 04:23] Roei639 commented on #238
There is a new problem, sensors become unavailable every few seconds.
[_HomeAssistant_logs.txt](https://github.com/Vaskivskyi/ha-asusrouter/files/9845768/_HomeAssistant_logs.txt)

[2022-10-23 09:15] Vaskivskyi commented on #238
I am sorry for this. Version 0.10.0 has a bug fix for reconnection problems.

[2022-10-23 12:01] neuroverflow opened #282 "[Feature] Reboot router"
### The problem

Thank you for your work, that integration is much better than the integrated one!

Do you think a switch to reboot the router is doable?
I have a mesh network than sometime requires to reboot the router to restore the connection between the nodes.

Thank you and good continuation!

### Specific device(s)?

_No response_

### Firmware type

_No response_

[2022-10-23 17:56] Vaskivskyi commented on #282
Hello, @neuroverflow,

Thanks for your feedback! :+1:

The integration has an in-built service to reboot the device - `asusrouter.service_reboot`. If you have only the main router connected to HA via the integration, it will be rebooted and integration will automatically reconnect.

Unfortunately, I have not tested this service yet in case of multiple devices setup in HA, since I have only one. So

[2022-10-23 18:01] Vaskivskyi commented on #220
Hey, @ostracizado,

This feature is already in work but requires several changes in the underlying Python library. I am trying to implement changes in groups, so the process is a bit faster, but that means I am not going one-by-one with feature requests - mostly those which are similar are implemented first as well as bug fixes.

Probably, I will get to this feature during the following 2 weeks.

[2022-10-23 18:59] neuroverflow commented on #282
Wow man! I re-checked the documentation and it's not there 😄 I tested and it's working, router and node rebooted! You rock!

[2022-10-23 19:11] Vaskivskyi commented on #282
Apparently, it got lost at some point from the README.

Soon enough, there will be new and (hopefully) much better documentation for the integration 🙂

[2022-10-24 03:14] jazzyisj commented on #269
Hang tight.  I've updated the firmware on my AP's and I've since gotten at least one device cycling between home / not_home properly.  I'm going to watch it for a day or two and I'll update with results.

[2022-10-24 14:05] sepodele commented on #282
Just a quick question from the sideline: Why did you add that feature as a service and not a button? I see more and more integrations use buttons but is there a guideline when to use which? Personally I prefer buttons since they show up in the integration and you don't have to guess if there are services available that you don't see. :)

[2022-10-25 21:38] Vaskivskyi commented on #213
Hey,

PR #284 adds the requested feature and many other ways to control guest WiFi networks. When merged, the PR will close this issue.

The feature will be released in the following integration version (by the end of the month)

[2022-10-25 21:39] #213 closed

[2022-10-26 11:48] Vaskivskyi commented on #282
Hey, @sepodele,

No, I don't think there is any guide from HA on what to use. But I am already considering the possibility of a button instead of a service

[2022-10-27 18:37] Roei639 commented on #238
Intermittently some sensors lose availability
Log:
Error connecting to '10.100.102.1' for device update: None

[2022-10-27 18:57] Vaskivskyi commented on #238
Do they recover by themself or do they stuck unavailable?

[2022-10-27 19:13] Roei639 commented on #238
recover on their own after a few minutes

[2022-10-27 19:26] Vaskivskyi commented on #238
Great. That is the expected behaviour - they should always be able to recover. Speed will depend only on how regularly your HA tries to update sensors. Mostly 1 extra attempt is enough, but with some devices, it might take more. Keep in mind if you have 30 s interval for polling sensors and the first attempt fails, the second will be made after 30 seconds only, not immediately.

If there are probl

[2022-10-27 19:51] Vaskivskyi commented on #238
Since sensors do recover as expected now, I suppose we can close this issue. If you are experiencing any other problems, please open a new issue, so it will be easier to keep track.

[2022-10-27 19:52] #238 closed

[2022-10-27 20:29] Vaskivskyi commented on #282
![image](https://user-images.githubusercontent.com/6554415/198391016-d50f2dd4-cb7f-413a-9b0e-85fdff309840.png)

Will be available with version 0.11.0

[2022-10-27 20:32] #282 closed

[2022-10-28 19:00] Vaskivskyi commented on #222
![image](https://user-images.githubusercontent.com/6554415/198712179-0939a21f-9212-4f27-93a7-80baa0466604.png)

Will be available in 0.11.0 soon

[2022-10-28 19:08] #222 closed

[2022-10-29 09:34] Vaskivskyi commented on #224
Coming in 0.11.0 soon

<details>
<summary>Snapshot 1</summary>

![image](https://user-images.githubusercontent.com/6554415/198824407-c31a5a99-5e19-40df-9c6b-3bdba28aac54.png)
</details>

<details>
<summary>Snapshot 2</summary>

![image](https://user-images.githubusercontent.com/6554415/198824402-77caa8ba-47ab-4ac2-b1c0-80586a4fb977.png)
</details>

[2022-10-29 09:39] #224 closed

[2022-10-29 19:59] Vaskivskyi commented on #269
Could you please check whether the issue is still happening with the new version 0.11.0? There was a force update implemented for the device list. It should help some devices which do not update the list by themself.

[2022-10-29 20:00] Vaskivskyi commented on #190
Hey,

Could you please check whether you still have the same issue after updating to the new version 0.11.0 of the integration? The integration has already quite a several features implemented, which are helping with the connected devices list.

[2022-10-30 15:27] Salvora commented on #136
I think it is possible to add an on/off switch but configuring the details might be a little too hard.
I use a custom script to turn on and off the port forwarding if I notice suspicious activity from the Home Assistant frontend.

[2022-10-30 20:13] Jozziej opened #306 "[Bug]Device is connected in no-control mode. Sending commands is blocked"
### The problem

Errorlog shows the following error
"Device is connected in no-control mode. Sending commands is blocked"

### Your device model

RT-AC87u

### Firmware type

Merlin

### Firmware version

384.13_10

### Integration version with the issue

0.11.0

### Method of the integration installation

HACS

### What version and type of Home Assistant installation do you use

2022.10.5

### Is

[2022-10-30 20:17] Vaskivskyi commented on #306
Hey. This is a normal thing when you have not selected "Enable device control".

Just go to `Configure` for the integration.
![image](https://user-images.githubusercontent.com/6554415/198899656-b3b80bf2-6573-4ecc-8589-ff30b61e578b.png)
![image](https://user-images.githubusercontent.com/6554415/198899665-d4599c0a-bebc-4ff5-9b26-ea1c576de064.png)

So this is not a bug by itself. The question is, how

[2022-10-30 20:47] Jozziej commented on #306
That solved it indeed, but no clue why I got the error now, since I'm running the integration already for a long period of time.

[2022-10-30 20:47] #306 closed

[2022-10-31 18:01] jazzyisj opened #307 "[Bug] Wrong Firmware Reported RT-AX58U"
### The problem

Integration is reporting firmware version 3004_386_45898-gfa90458 and is triggering update entity.
![image](https://user-images.githubusercontent.com/44064559/199075953-54b0c18b-2204-46b5-b2ab-7c4abbeccf0d.png)
Router reports firmware version 3.0.0.4.386_49674-ge182230 which is the version the update entity indicates is required.
![image](https://user-images.githubusercontent.com/

[2022-10-31 18:20] jazzyisj commented on #269
Sorry for delay, needed a moment to test again.

Yes the issue is still occuring with 0.11.0.  Aagin, rebooting the ROUTER updates the entities to the correct state, but once they have a state of `home` again, they never return to `not_home`.  Sometimes after rebooting the router they work for one `home`/`not_home `cycle but then get stuck on `home `again.

Just curious, I don't use the router WIF

[2022-10-31 18:43] ejpenney commented on #307
Not sure if this is the same issue or not, with RT-AC66R (Merlin) I see this:

![image](https://user-images.githubusercontent.com/21226768/199084156-96ccef60-35d0-4b71-8f03-1e60a9b6415f.png)

The ASUS Router Android app reports the suggested version: 3.0.0.4.380.70_0

![image](https://user-images.githubusercontent.com/21226768/199085091-f771ef7b-d6e8-4f08-b47a-3e97792b6e6b.png)

I can file a separ

[2022-11-01 07:29] Vaskivskyi commented on #307
Hey, @jazzyisj,

Sorry for this bug. It will be fixed soon.

Btw, the latest is the version you have, as per the Asus web page

![image](https://user-images.githubusercontent.com/6554415/199181555-d690d926-eeb1-4b2e-aed1-396af4aa19f4.png)

---

@ejpenney,

It's fine to be in this issue. Looks like old Merlins like to report firmware versions differently... This will also be fixed soon.

[2022-11-01 14:08] jazzyisj commented on #307
Ha, I was looking at the firmware page for RT-AC58U, not RT-AX58U.  Thanks for looking into it!

[2022-11-01 14:09] Vaskivskyi commented on #307
@jazzyisj,

Please, check with the new version 0.11.1 whether the `update` entity is fixed.

@ejpenney,

Please, also check the 0.11.1 version. I am not sure if that will help in your case, but it does worth checking.

[2022-11-01 15:15] ejpenney commented on #307
The message is different now:

![Screenshot_20221101-081430.png](https://user-images.githubusercontent.com/21226768/199268208-0eed11fb-465d-4215-9595-02dd148ee214.png)

[2022-11-01 15:21] Vaskivskyi commented on #307
Can you please login into the Web UI of your device? Then change the address of the page from `https://device_ip/index.asp` to `https://device_ip/detect_firmware.asp` manually. Copy the text and send it here.

It should be similar to:

[code]

Unfortunately, your device is reporting the FW version in some strange form, not like other devices. Let's see, whether we can use it somehow properly

[2022-11-01 15:40] roc634 commented on #190
Hi Vaskivskyi, thanks for your heads-up. I'll try it right away and will get back to you asap. Have a nice day!

[2022-11-01 16:05] gmariotti commented on #307
Interesting enough, the firmware version for Merlin now doesn't look fully correct 😅 in 0.11.0, the version reported was `386_7_2`, while in 0.11.2 is `3.0.0.4.386.7_2`. The last part, `386.7_2`, is the correct one displayed in the UI, but where does that `3.0.0.4` come from?

[2022-11-01 16:13] ejpenney commented on #307
I logged in to my router, changed the URL as specified and I get this page:

![image](https://user-images.githubusercontent.com/21226768/199281133-8657a260-2926-46e9-9021-0c7a15af4dc5.png)

Not much more helpful in the page source:

![image](https://user-images.githubusercontent.com/21226768/199280817-8a9cad4c-aedb-4830-a269-5fa2f2b69ff1.png)

I wonder if this might be because I have the device in

[2022-11-01 16:21] Vaskivskyi commented on #307
Hey, @gmariotti,

Merlin likes to hide the first part of the FW version in the interface, even though for Asus this is the `major` of the version. It was always reported in the device info as full.

![image](https://user-images.githubusercontent.com/6554415/199281428-7f111365-b021-4ad5-aaf7-ffaa3d1d01ca.png)

The update entity first did not have it, since some of the newer FW versions are just rep

[2022-11-01 18:17] edwardtfn commented on #261
@Vaskivskyi, do you have a router with AiMesh support? I mean, do you need just one additional device, or you need both in order to setup your testing AiMesh network?
I'm also interested in the support for AiMesh, so perhaps the community here can try to help funding so you can get a second device... (no promises, just an idea).

[2022-11-01 19:13] Vaskivskyi commented on #261
@edwardtfn, my main device (RT-AX88U) has full AiMesh support. But yes, I need one more device with AiMesh for all the tests.

I cannot just ask users of the integration to "buy me a device for tests". That would be not really polite. So I am just saying - as soon as I get a device, I'll start work on the feature. Maybe there would be some good deals on Amazon for Black Friday 🙂

[2022-11-02 09:26] RealGandy opened #317 "[Bug] Latest version 0.11.2 throws errors, no data being collected"
### The problem

Latest version shows following on integrations screen:

![image](https://user-images.githubusercontent.com/305484/199451531-61095b40-eedf-4f4a-b465-4001155a7cb2.png)

Log file shows this error;

`2022-11-02 09:15:03.345 WARNING (MainThread) [homeassistant.config_entries] Config entry '192.168.2.1' for asusrouter integration not ready yet: 'NoneType' object is not subscriptable; Re

[2022-11-02 09:37] Vaskivskyi commented on #317
Hey @RealGandy,

I am sorry to hear, you are experiencing problems with the integration.

Can you please retry this with logging for integration set to debug as well as the `asusrouter` library?

[code]

Or was it already set? Was there any debug message from `custom_components.asusrouter`?

[2022-11-02 09:48] RealGandy commented on #317
Sorry, yes both of those components were set to debug and the lines above are the only entries seen in the log containing 'asus'

[2022-11-03 01:23] CykloneFij commented on #317
I have exactly the same error: Retrying setup: 'NoneType' object is not subscriptable

This happened after updating the HACS integration from 0.11.0 to 0.11.2

HACS install
Asus ZenWiFi XT8
Merlin 386.07_2-gnuton1
Home Assistant Core 10.5
  Supervisor 2022.10.0
  Operating System 9.3

[2022-11-03 07:17] Vaskivskyi commented on #317
Hey, @RealGandy, @CykloneFij,

Could you please check whether you can collect device identity using the latest version of the `asusrouter` library? You would need Python and `asusrouter` being the latest version. You can either use the venv of HA with the integration 0.11.2 for that or just manually install the library in any other environment using: `pip install asusrouter==0.10.3`. Then you woul

[2022-11-03 21:04] RealGandy commented on #317
[code]

[2022-11-04 07:02] Vaskivskyi commented on #317
Ok, so something is wrong with the firmware version. Can you please try this as well?

<details>
<summary>Code</summary>

[code]
</details>

The output in the console will be similar to:
`{'firmver': '3.0.0.4', 'buildno': '386.8', 'extendno': '0'}`

[2022-11-04 08:15] RealGandy commented on #317
[code]

[2022-11-04 11:53] Vaskivskyi commented on #317
Great, thanks! That should help. I will let you know if something else is needed

[2022-11-04 17:20] roc634 commented on #190
Hi @Vaskivskyi , I try to replace the whole folder with that that of the new version but it fails to setup. Please refer to the screenshot below:
<img width="578" alt="2022-11-3 23-57-16" src="https://user-images.githubusercontent.com/49619054/200035059-9494b4c4-2325-443a-bb9c-6f4c90882075.png">
and I can find only one line in the log:
`WARNING (MainThread) [homeassistant.config_entries] Config en

[2022-11-04 18:26] Vaskivskyi commented on #317
@RealGandy, @CykloneFij,

Please, check the new version 0.11.3, which is already available via HACS

[2022-11-04 18:27] Vaskivskyi commented on #190
Hey, @roc634,

Please, check the new version 0.11.3, which is already available via HACS. It should solve the integration setup problem

[2022-11-04 18:30] Vaskivskyi commented on #242
Hey, @scetu,

Can you please check the new version 0.11.3? Unfortunately, there were a couple of bugs in 0.11.2, which are device-dependent and which I was not able to track with my only device.

[2022-11-04 18:31] Vaskivskyi commented on #307
Hey, @ejpenney,

Please, check the new version 0.11.3, which is already available via HACS. It should solve your problem with the `update` entity

[2022-11-04 18:53] ejpenney commented on #307
Looks good to me!

![image](https://user-images.githubusercontent.com/21226768/200053269-f895cec9-e1e5-4740-b9f4-60ffa425e7fd.png)

[2022-11-04 19:00] Vaskivskyi commented on #307
Great. Since all the issues in here, I will close it. In case you will experience any other problems, please open a new issue. 🍻

[2022-11-04 19:00] #307 closed

[2022-11-04 19:24] CykloneFij commented on #317
@Vaskivskyi
Thank you!  That works now with the 0.11.3.
All sensors and entities showing

[2022-11-04 19:38] RealGandy commented on #317
Yup, all good for me too.

Many thanks for such a prompt response.

[2022-11-04 19:38] #317 closed

[2022-11-06 18:12] roc634 commented on #190
I don't have HACS so I download the files from github. However, the problem is the same. The devices appear online all the time. Actually they are online for just one or two hours. Please see the screenshots below.
<img width="299" alt="2022-11-7 2-9-18" src="https://user-images.githubusercontent.com/49619054/200187734-4c5a5d73-6262-460b-a9b7-196c8440b4d5.png">
<img width="295" alt="2022-11-7 2-9-

[2022-11-09 00:18] ZacTyAdams opened #321 "[Bug] Router sensors no longer reporting after 11.2"
### The problem

The router sensors are no longer working after the 11.2 core release:

<img width="1515" alt="image" src="https://user-images.githubusercontent.com/6806769/200704725-14a9cc46-25fe-47e1-a319-7d8d570085ce.png">

### Your device model

RT-AX82U

### Firmware type

Stock

### Firmware version

3.0.0.4.386.49674_ge182230

### Integration version with the issue

0.11.3

### Method of th

[2022-11-09 06:45] Vaskivskyi commented on #321
Hey, @ZacTyAdams,

Is there anything in the logs? If nothing with an ERROR or WARNING level, can you please enable debug logging for the integration and backend library? You would need to add the following to your `configuration.yaml` and restart HA.

[code]

I have 2 different instances of HA already on 2022.11.2 which do not show any problems with AsusRouter.

[2022-11-09 19:32] ZacTyAdams commented on #321
Here is the only Error I have in the logs:
This error originated from a custom integration.

Logger: custom_components.asusrouter.router
Source: helpers/update_coordinator.py:182
Integration: ASUS Router (documentation, issues)
First occurred: November 8, 2022 at 1:57:55 PM (3 occurrences)
Last logged: November 8, 2022 at 1:57:56 PM

Error fetching cpu data: None
Error fetching ram data: None
Erro

[2022-11-09 19:59] Vaskivskyi commented on #321
Please, check the full logs, whether there is any more info.

<img alt="image" src="https://user-images.githubusercontent.com/6554415/200927582-8bb11ffd-33ab-4f7c-af13-acdb7f37285a.png">

If debug logging is enabled (check the previous message), you should see something similar to:

[code]

and so on.

We need to find out on which step the errors are occurring. And how fast does it happen after in

[2022-11-09 20:22] ZacTyAdams commented on #321
Nevermind it started working after making the debug change for some reason.

[2022-11-09 20:29] Vaskivskyi commented on #321
Ok, great. Then I will close the issue.

[2022-11-09 20:29] #321 closed

[2022-11-09 21:20] ZacTyAdams commented on #321
@Vaskivskyi Thank you for your quick reply and help on the matter! The integration has been fantastic for my device tracking needs!

[2022-11-14 21:51] Vaskivskyi commented on #258
Please, check the new version 0.12.0, which adds functionality to allow/block internet access for a single device. [More info here](https://community.home-assistant.io/t/custom-component-asusrouter-integration/416111/211?u=vaskivskyi)

[2022-11-14 21:52] Vaskivskyi commented on #146
Please, check the new version 0.12.0, which adds functionality to allow/block internet access for a single device. [More info here](https://community.home-assistant.io/t/custom-component-asusrouter-integration/416111/211?u=vaskivskyi)

[2022-11-14 23:43] ehendrix23 opened #336 "KeyError: 'connection_type' in 0.12.0"
### The problem

I just updated to 0.12.0 from 0.11.3 and now it fails when starting HA:

[code]

Seems to be related to changes in #323

### Your device model

ZenWiFi AX

### Firmware type

Stock

### Firmware version

3.0.0.4.388_21099

### Integration version with the issue

0.12.0

### Method of the integration installation

HACS

### What version and type of Home Assistant installation do yo

[2022-11-14 23:54] ehendrix23 commented on #336
I added the following line:
```_LOGGER.warning(f"Connection type for {self._ip} is: {con_type}")```

and I then get in my log file:
```Connection type for 192.168.1.31 is: 3```

On my router I have WIRED, 2.4G and 2 5G. That one is connected to my 2nd 5Ghz.

[2022-11-15 06:15] Vaskivskyi commented on #336
Thanks a lot for your report and PR! 👍🏻

[2022-11-15 07:22] Vaskivskyi commented on #336
0.12.1 is already released and fixes the issue.

The `5 GHz` and `5 GHz-2` networks are now also distinguished (which I have added after your PR) - this feature was requested by some users and can be quite useful.

Please, let me know whether 0.12.1 works well for you

[2022-11-15 14:18] ehendrix23 commented on #336
Just installed and restarted. No issues seen so I would say it is working. :-)

Thx for the quick release of an update.

[2022-11-15 14:18] #336 closed

[2022-11-15 19:01] milandzuris opened #343 "[Feature]"
### The problem

Hi, You make so good work on this integration thank you, i want one change in this integration, make update interval for 1. Device Tracker Done, 2. Sensors, 3. Diagnostics

![image](https://user-images.githubusercontent.com/42905545/202002746-8c2ae431-20ce-43b9-a1cb-0ee96f387815.png)
![image](https://user-images.githubusercontent.com/42905545/202002805-db758e50-6809-48a9-840c-37c7

[2022-11-15 22:02] Vaskivskyi commented on #343
Hey,

There are already separate update intervals for the following entity groups:
- CPU
- Guest WLAN (all guest WLAN binary sensors or switches)
- Light (LEDs)
- Misc (boot time sensor)
- Network stat (all the network traffic and speeds sensors - WAN, USB, WLAN, WIRED, ...)
- Ports (WAN / LAN speed sensors)
- RAM
- Sysinfo (load average)
- Temperature
- VPN (all the OpenVPN entities - clients and

[2022-11-16 06:07] jacquesvzijp commented on #146
Hi
Thanks made a quick check for now, it seems to work so really happy, just to build some automations and UI. Great
Jacques

On 14 Nov 2022 at 22:52 +0100, Yevhenii Vaskivskyi ***@***.***>, wrote:

[2022-11-16 07:26] milandzuris commented on #343
Ou sorry THX so much this is i need good work

[2022-11-16 07:27] #343 closed

[2022-11-17 09:49] scetu opened #344 "[Feature] Meaningness of Restart HTTP Daemon"
### The problem

Hello @Vaskivskyi,

once again, thank you for this great integration.
Today I had an issue when my router RT-AX58U has not been responding to HTTP request (I was unable to load WebUI) and integration has started failing, cause as I understood it is using HTTP as main connection source, however router has been otherwise functional (internet, and other services has been working). Th

[2022-11-19 09:06] Vaskivskyi commented on #344
Hello, @scetu,

The `button.{device}_restart_http_daemon` can restart the daemon which is partially stuck - this happens with some devices and some firmware after several days of active usage. It can be seen from the integration - some sensors stop updating (e.g. `lan_speed`, `wan_speed`) and from the Web UI - this tab is not updating anymore

<details>
<summary>Snapshot</summary>

![image](https:

[2022-11-19 09:07] Vaskivskyi commented on #258
Since the feature is already implemented in 0.12.0 and other users do not report any problems with it, I will close this issue.

[2022-11-19 09:07] #258 closed

[2022-11-19 09:07] Vaskivskyi commented on #146
Since the feature is already implemented in 0.12.0 and other users do not report any problems with it, I will close this issue.

[2022-11-19 09:07] #146 closed

[2022-11-19 17:10] #344 closed, assigned to Vaskivskyi

[2022-11-21 07:53] tomas0620 opened #349 "[Bug] Device internet access control - Unknown error"
### The problem

All of the attempts to call service failed with an Unknown error.
**Calls:**

1. Direct call from Developer Tools -> Services
2. Button for a device internet control (from [Release Notes YAML example](https://community.home-assistant.io/t/custom-component-asusrouter-integration/416111/211))
3. Automations - (based on [User comment from TekDad](https://community.home-assistant.io/t

[2022-11-21 08:23] Vaskivskyi commented on #349
Hey, @tomas0620,

Thanks for your feedback 👍🏻 and sorry that something does not work well for you.

Please, allow me 1-2 days to check out and fix the issue.

Meanwhile, can you please add the following info:
- The log entity shows, the issue is happening when calling the `remove` state for the parental control rule. Does it happen also with `block` and `disable` rules?
![image](https://user-image

[2022-11-21 08:32] tomas0620 commented on #349
Hi,
thank you for your prompt reply.

The issue is happening for all types (`block`, `remove`, `disable`).

**Log:**
Logger: homeassistant.components.websocket_api.http.connection
Source: custom_components/asusrouter/bridge.py:626
Integration: Home Assistant WebSocket API ([documentation](https://www.home-assistant.io/integrations/websocket_api), [issues](https://github.com/home-assistant/home-ass

[2022-11-23 13:27] tomas0620 commented on #349
Hi @Vaskivskyi

Can i add some more logs/informations for better investigation? Or somehow debug it locally?

THX

[2022-11-24 18:26] Vaskivskyi commented on #349
Hey, sorry for the delay

- Do you have any parental control rules set in the router WebUI?
- Does the `parental control` switch (or binary sensor) work for you in the integration? (Showing whether their state is active or not, showing the list of the rules as an attribute)

[2022-11-24 19:12] tomas0620 commented on #349
Hi,

this issue occurs only when there are no set parental control rules
When I add one rule via router UI, the service in HA works without issues.

BUT!
When I removed all rules, the problem was back.

Thus, there must be at least one rule set.

PS: parental control switch works without problems.
No rules:
![parental_control_switch](https://user-images.githubusercontent.com/11650481/203852282-56e

[2022-11-24 19:16] Vaskivskyi commented on #349
Oh, I see. Great. This will help. I didn't manage yet to reproduce the issue, but I didn't think of trying without any rules set.

👍🏻

[2022-11-25 06:14] sfortis commented on #269
I've the same issue on AC86U with merlin 386.7_2 firmware. Im tracking my PS5 and once the device switched to home it will stay permanently, so im using a ping based tracker at the moment, which is fine.

[2022-11-27 20:37] Vaskivskyi commented on #349
The issue should be fixed in the new version 0.13.0. Please, check it out

[2022-11-28 04:23] tomas0620 commented on #349
Hi,
Issue was fixed.
Thanks a lot.

[2022-11-28 04:23] #349 closed